.related-posts {
    margin-top: 120px;
    .lined-heading {
        margin-top: 32px;
    }
    .horizontal-grid {
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
        article {
            width: calc(33.333333333333336% - 15px);
            margin-right: 30px;
            .post-details {
                margin-top: 28px;
            }
            .post-title {
                @include t_36;
                @include sans_bold;
            }
            .post-link {
                @include t_22;
                line-height: 1.1;
                svg {
                    margin-top: 6px;
                }
            }
            .post-excerpt {
                @include t_22;
                line-height: 1.4;
            }
        }
    }
}

@media (max-width: 1280px) {
    .related-posts {
       .horizontal-grid {
           flex-wrap: wrap;
           article {
                width: 47%;
                margin-bottom: 6rem;
           }
       } 
   }
}

@media (max-width: 768px) {
   .related-posts {
       .horizontal-grid {
           flex-direction: column;
           article {
                width: 100%;
           }
       } 
   } 
}


