.book-authors {
    margin-top: 120px;
    .col-centered {
        margin: 0 auto;
        margin-bottom: 60px;
        display: flex;
        flex: 1;
        margin-right: 1.7rem;
        p {
            @include t_22;
        }
        a {
            @include t_22;
            color: black;
        }
        figure {
            width: calc(38.8% - 28px); 
            display: flex;
            justify-content: flex-end;
            img {
                border-radius: 50%;
            }
        }
        div {
            width: 50%;
            max-width: 670px;
            margin-left: 28px;
        }
    }
}

@media (max-width: 768px) {
    .book-authors {
        .col-centered {
            flex-direction: column;
            margin-right: 0;
            figure {
                width: 100%;
                justify-content: center;
                margin-top: 3rem;
            }
            div {
                width: 100%;
                justify-content: center;
                flex-direction: column;
                max-width: 75vw;
                margin: 0 auto;
                margin-top: 3rem;
            }
        }
    }
}
