.related-books {
    margin-top: 120px;
    .lined-heading {
        margin-top: 32px;
    }
    &__container {
        display: flex;
        background-color: black;
        color: white;
    }
    &__featured {
        position: relative;
        width: calc(45vw + 50px);
        margin: 50px;
        h2, a, p, span {
            color: white;
        }
        h2 {
            @include sans_bold;
            @include t_28;
            margin: 0;
            margin-bottom: 10px;
        }
        .book {
            &__author {
                padding: 0;
                border: none;
                @include sans_bold;
                @include t_28;
                line-height: 1.3;
                margin-bottom: 28px;
            }
            &__excerpt {
                @include t_22;
                line-height: 1.4;
                &__text {
                    margin-bottom: 49px;
                }
            }
        } 
        .close-btn {
            position: absolute;
            right: 0;
            top: 0;
            background-color: transparent;  
            padding: 0;
            margin: 0;
            color: white;
            @include sans_bold;
            @include t_22;
        } 
    }
    &__spines {
        display: flex;
        width: calc(45vw + 50px);
        margin: 50px;
        // margin-bottom: 0;
        // max-height: 80vh;
        .related-book__trigger {
            display: flex;
            margin-right: 5px;  
            // height: 80vh;
        }
        .related-book__trigger__btn {
            display: flex;
            align-items: flex-start;  
            flex-wrap: wrap;
            .book_spine_image {
                height: 100%;
                height: auto;
                max-height: 750px;
                pointer-events: none;
                // transform: translateY(0);
                // transition: transform 0.2s ease;
            }
            &.selected {
                .book_spine_image {
                    // transform: translateY(14px);
                    // transition: transform 0.2s ease;
                }
            }
        }
        .related-book__details {
            display: none;
            width: 37vw;
            h2, a, p, span {
                color: white;
            }
        } 
    }
}

.related-book {
    h2, a, p {
        color: white!important;
    }
}


@media (max-width: 960px) {
    .related-books {
         &__container {
            flex-direction: column;
        }
        &__featured {
            width: calc(100% - 6rem);
            margin: 3rem;
        }
        &__spines {
            display: flex;
            width: calc(100vw - 100px);
            margin: 50px;
             .related-book__trigger {
                 height: 50vh;
                 .book_spine_image {
                     height: 100%;
                 }
             }
             .related-book__trigger__btn {
                 flex-wrap: nowrap;
             }
            //max-height: 45vh;
        }
    }
}