.book-reviews {
    margin-top: 120px;
    .lined-heading {
        margin-bottom: 40px;
    }
    .row {
        margin-bottom: 40px;
        top: 50%;
        transform: translateY(-50%);
    }
    blockquote {
        margin: 0;
        margin-bottom: 0.25em;
        border-left: none;
        font-style: normal;
        @include sans_bold;
        @include t_36;
        line-height: 1.2;
        padding: 0 4rem;
        em {
            @include sans_bold_oblique;
        }
    }
    .book-review__source {
        @include t_26;
        margin-bottom: 0;
        padding: 0 4rem;  
    }
    .main-carousel {
        max-width: 75vw;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
   .book-reviews {
       blockquote {
            padding: 0;
            @include t_20;
       }
       .book-review__source {
           padding: 0;
           @include t_20;
       }
   } 
}

