/*! Flickity v2.1.2
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .single-anagnoseis {
    .flickity-viewport {
      height: 100%!important;
    }
  }
}
.single-anagnoseis {
  .flickity-viewport {
    overflow: auto;
    padding-right: 18px;
    box-sizing: content-box;
    width: 100%;
  }
}

.flickity-slider {
  position: absolute;
  width: 95%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  border: none;
  background-color: transparent;
  color: black;
  padding: 0;
}

.flickity-button:hover {
  background-color: transparent;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  // box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: black;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .flickity-prev-next-button {
    top: 50%;
    width: 15px;
    height: 15px;
  }
}

.flickity-prev-next-button.previous { left: -66px; }
.flickity-prev-next-button.next { right: -66px; }
 

.flickity-page-dots {
  .dot:first-child:nth-last-child(1) {  
    opacity: 0;
  }
}

.flickity-page-dots.anagnoseis {
  position: relative;
  width: auto;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  display: flex;
  margin: 0;
  padding: 0;
}

.is-hiding-nav-ui {
  .flickity-prev-next-button {
    opacity: 0!important;
  }
}
/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 40.6%;
  bottom: 5%;
  right: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  line-height: 1;
  z-index: 1;
}  

@media screen and (max-width: 595px) {
    .flickity-page-dots {
      left: 11%;
    }
}



@media screen and (max-width: 595px) and (max-height: 660px) {
    .flickity-page-dots {
      bottom: 0;
    }
}

@media screen and (max-width: 595px) and (min-height: 660px) {
    .flickity-page-dots {
      bottom: 2%;
    }
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin: 0 8px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  background-color: white;
}

.carousel-cell {
  width: 100%;
  // height: 250px;
  // margin-left: 15px;
  // margin-right: 15px;
  // text-align: center;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  img {
    // max-height: 200px;
    // height: auto;
  }
}

.carousel-nav {
  .carousel-cell {
    width: 19%;
    height: 130px;
    margin: 0;
    margin-right: 20px;
    img {
      max-height: 91px;
    }
  }
}

@media (max-width: 851px) {
  // .event-photos {
  //   .carousel-cell {
  //     height: 385px;
  //     img {
  //        max-height: 282px;
  //     }
  //   }
  //   .carousel-nav {
  //     .carousel-cell {
  //       height: 91px;
  //     }
  //   } 
  // }
}

@media (max-width: 686px) {
  .event-photos {
    .event-carousel, .carousel-cell {
      height: 288px;
      img {
        max-height: 288px;
      }
    }

    .carousel-nav {
      .carousel-cell {
         height: 91px;
      }
    }
  }
}

@media (max-width: 686px) {
  .event-photos {
    .event-carousel, .carousel-cell {
      height: 288px;
      img {
        max-height: 288px;
      }
    }

    .carousel-nav {
      .carousel-cell {
         height: 91px;
      }
    }
  }
}

@media (max-width: 460px) {
  .event-photos {  
    .event-carousel, .carousel-cell {
      height: 200px;
      img {
        max-height: 200px;
      }
    }

    .carousel-nav {
      .carousel-cell {
         height: 91px;
      }
    }
  }
}

/* flickity-fade */

/* Fade CSS */
.carousel-cell {
  width: 100%;
}
.flickity-slider {
    transform: none!important;
}

 .carousel-cell {
    left: 0%!important;
    opacity: 0;
    transition: opacity .5s ease;
    // transform: translateX(100%);
    // transition: transform .8s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

 .carousel-cell.is-selected {
    z-index: 1;
    opacity: 1;
    // transform: translateX(0)!important;
    // transition: transform .8s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    transition: opacity .5s ease;
 }

@media (max-width: 768px) {
  .flickity-prev-next-button {
    top: 100%;
    &.previous {
      left: 43%;
    }
    &.next {
      right: 43%;
    }
  }
}

@media (max-width: 595px) {
  .flickity-prev-next-button {
    top: 100%;
    &.previous {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }
}

