.woocommerce-product-search {
    position: absolute;
    top: 58px;
    right: 20%;
    align-self: center;
    width: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: right;
    z-index: 1;
    &.active {
        width: 30%;
        max-width: 100%;
        z-index: 9;
       
    }
    input[type="search"] {
        border-bottom: 2px solid black;
        background-color: black;
        width: 0px;
        height: 50px;
        @include sans-regular;
        @include t_16;
        line-height: 32px;
        color: white;
        padding: 0;
        box-shadow: none;
        z-index: -1;
        transition: width .4s cubic-bezier(.165,.84,.44,1);
        
        &.open {
            padding: 0 15px;
            width: 100%;
         
            transition: width .5s cubic-bezier(.165,.84,.44,1);
        }
        &:focus {
            outline-color: transparent;
        }
        &::-webkit-input-placeholder {
            @include sans-regular;
            @include t_16;
        }
    }
    input[type="search"]::-webkit-search-cancel-button {
        /* Remove default */
        -webkit-appearance: none;
        /* custom styles */
        height: 15px;
        width: 15px;
        background-image: url('/wp-content/themes/antipodes/public/svg/close-button.svg');
        background-repeat: no-repeat;
    }
    
    .search-submit {
        @include t_30;
        position: absolute;    
        top: 65px;
        right: 16%;
        line-height: 1;
        padding: 0;
        position: absolute;
        padding: 0;
        background-color: transparent;
        color: black;
        &:hover {
            background-color: transparent;
            color: black;
        }
    }
}

// @media (min-width: 1280px) {
    .home {
        .woocommerce-product-search {  
            display: none;
            // right: 13%;
            // .search-field {
            //     border-bottom-color: white;
            // }
            // .search-submit {
            //     color: white;
            //     right: 9.6%;
            //     top: 77px;
            // }
        }
    }
//}

.search-trigger {
    position: fixed;
    display: none;
    padding: 0;
    background-color: transparent;
    right: 0;
    top: 12px;
    left: 20px;
    svg, svg > * {
        width: 26px;
        height: 26px;
        pointer-events: none
    }
    &:hover {
        background-color: transparent;
    }
    #search-loop-lines {
        fill: black;
    }
} 

.post-type-archive-anagnoseis, 
.single-anagnoseis {
    .woocommerce-product-search {
        .search-field {
            border-bottom-color: white;
        }
        .search-submit {
            color: white;  
        }
    }

    .search-trigger {
        #search-loop-lines {
            fill: white;
        }
    }
}

@media (min-width: 1280px) {
    body:not(.home) {
       .search-trigger {
            // top: 69px;
            // right: 16%;
       } 
    }
}

@media (min-width: 1024px) {
    .home {
       .search-trigger {
            #search-loop-lines {
                fill: white;
            }
       } 
    }
}

@media (max-width: 1280px) {
    .search-trigger {
        right: 120px;
    } 
    .woocommerce-product-search {
        top: 69px;
        right: 164px;
        .search-submit {
            margin-top: 16px;
            right: 120px;
        }
    }
}

@media (max-width: 1024px) {
    .search-trigger {
        right: 125px;
    }  
    .woocommerce-product-search {
        &.active {
            width: 40%;
        }
        // margin-right: 175px;
        // width: 35%;
        .search-submit {
            // top: 79px;
            // right: 125px;
        }
    }
}

@media screen and (max-width: 960px) {
   
}

@media screen and (max-width: 768px) {
    .search-trigger, .woocommerce-product-search .search-submit  {
        // top: 74px;
        right: 80px;
    }  
    .woocommerce-product-search {
        right: 120px;
        // margin-right: 175px;
        // width: 35%;
    }
}

@media screen and (max-width: 595px) {
    .search-trigger  {
        top: 44px;
    }  
    .woocommerce-product-search {
        top: 33px;
         z-index: 1000;
        &.active {
            width: 60%;
        }
        .search-submit  {
            top: 33px;
            margin-top: 11px;
        }
    }

    .menu-open {
        .woocommerce-product-search {
            z-index: 1;
        }
    }
}

// @media screen and (max-width: 499px) {
   
//     .woocommerce-product-search {
//         z-index: 1000;
//     }
// }

.main-navigation {
    .search-form {
        width: 18px;
        height: 18px;
        input[type="search"] {
            position: absolute;
            top: -15px;
            &.none {
                display: none;
            }
        }
        .search-submit {
            width: 18px;
            height: 18px;
            margin: 0;
            padding: 0;
        }
        .icon.search {
            display: block;
            cursor: pointer;
            &.none {
                display: none;
            }
            > * {
                pointer-events: none;
            }
        }
    }
}