@media screen and (min-width: 768px) {
    .site-header-cart .widget_shopping_cart {
        background-color: $body_bg;
        border: 3px solid;        
    }

    .menu-open {
        .site-header-cart .widget_shopping_cart {
            background-color: lighten($body_bg, 5%);
        }
    }

    .site-header-cart .widget_shopping_cart .buttons, 
    .site-header-cart .widget_shopping_cart .total {
        background-color: transparent;
    }

    .added_to_cart, 
    .site-header-cart .widget_shopping_cart a.button {
        background-color: transparent;
        border-color: transparent;
        padding-left: 3px;
        padding-right: 3px;
        &:hover {
            background-color: transparent;
        }
    }

    .added_to_cart.alt, 
    .added_to_cart, 
    .widget a.button.checkout {
        background-color: transparent;
        border: 3px solid black;
        color: black;
        &:hover {
            background-color: black;
            color: white;
            transition: background-color .15s;
        }
    }

    .post-type-archive-anagnoseis, 
    .single-anagnoseis {
        .added_to_cart.alt, 
        .added_to_cart, 
        .widget a.button.checkout {
            color: black;
            &:hover {
                color: white;
            }
        }
        .added_to_cart, .site-header-cart .widget_shopping_cart a.button {
            color: black;
        }
    }

    .site-header-cart .widget_shopping_cart, .site-header .product_list_widget li .quantity {
        color: black;
        font-size: 16px;
        line-height: 1.1;
    }

    .site-header-cart .widget_shopping_cart .woocommerce-mini-cart__empty-message {
        margin: 10px;
    }

    .woocommerce-active .site-header .site-header-cart {
        margin-right: 20px;
        max-width: 300px;
    }

    .site-header-cart .widget_shopping_cart .product_list_widget img {
        display: none;
    }

    .wc-forward::after, .woocommerce-Button--next::after {
        content: '';
    }

    .button.added_to_cart:focus, .button.wc-forward:focus {
            outline-color: black;
    }

    .site-header .product_list_widget li .quantity {
        display: inline-block;
        margin-left: 26px;
        margin-top: 6px;
    }
}