.page {
    //about page ID
    &.page-id-34 {
        .site-content {
            .col-full {
                // width: 65vw;
                // max-width: 65vw;
            }
        }
        .about {
            &__layout {
                max-width: 70vw;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                margin-bottom: 90px;
                .left {
                    width: calc(40% - 15px);
                }
                .right {
                    width: calc(70% - 15px);  
                }
                h2 {
                    @include sans_bold;
                    @include t_36;
                    z-index: 1;
                }
                .entry-content {
                    @include t_22;
                    line-height: 1.5;
                    z-index: 1;
                }
            }
            &__house {

            }
            &__tagline {
                .custom-image {
                    &__inner  {
                        top: -214px;
                        width: 744px;
                        // height: 715px;
                    }
                    &__container {
                        height: 715px;
                    }
                }
                .tagline {
                    width: 31%;
                    @include sans_bold;
                    @include t_38;
                    line-height: 1.2;
                    z-index: 2;
                }
            }
            &__team {
                 .entry-content {
                     display: flex;
                     flex-wrap: wrap;
                     justify-content: space-between;
                     .col {
                        width: calc(50% - 15px);
                        
                        margin-bottom: 30px;
                     }
                     h3, p {
                        @include t_22;
                     }
                     h3 {
                         @include sans_bold;
                         margin-bottom: 30px;
                     }
                 }
            }
            &__manifest {

            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .page {
        //about page ID
        &.page-id-34 {
            .about {
                 &__tagline {
                    .custom-image {
                        &__inner  {
                            width: 544px;
                        }
                    }
                    .tagline {
                        width: 40%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .page {
        //about page ID
        &.page-id-34 {
            .about {
                &__layout {
                    max-width: 75vw;
                    .left {
                        width: calc(30% - 15px);
                    }
                    .right {
                        width: calc(70% - 15px);  
                    }
                }
                &__tagline {
                    
                    .tagline {
                        width: 40%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .page {
        //about page ID
        &.page-id-34 {
            .site-content {
                .col-full {
                    // max-width: 85vw;
                }
            }
            .about {
                &__tagline {
                     .custom-image {
                        &__inner  {
                            width: 450px;
                            top: -125px;
                        }
                        &__container {
                            height: auto;
                        }
                    }
                     .tagline {
                        width: 35%;
                        @include t_30;
                    }
                } 
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .page {
        //about page ID
        &.page-id-34 {
            .about {
                &__layout {
                    flex-direction: column;
                    .right, .left {
                        width: 100%;  
                    }
                }
                &__tagline {
                     .tagline {
                        width: 100%;
                        @include t_30;
                    }
                    .custom-image {
                        &__inner  {
                            img {
                                opacity: 0.5;
                            }
                        }
                    }
                } 
            }
        }
    }
}

@media screen and (max-width: 595px) {
    .page {
        //about page ID
        &.page-id-34 {
            .about {
                &__layout {
                    flex-direction: column;
                    .right, .left {
                        width: 100%;  
                        flex-direction: column;
                        .col {
                            width: 100%;
                            h3 {
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
                &__tagline {
                     .tagline {
                        width: 100%;
                        @include t_30;
                    }
                    .custom-image {
                        &__inner  {
                            width: 300px;
                            top: -75px;
                            img {
                                opacity: 0.35;
                            }
                        }
                    }
                } 
            }
        }
    }
}