.post-type-archive-anagnoseis,
.single-anagnoseis {
  background-color: black;
  color: white;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: white;
  }
  .site-header {
    background-color: transparent;
    .main-navigation,
    .secondary-navigation {
      ul li a {
        color: white;
      }
    }

    .site-header-cart {
      a.cart-contents {
        color: white;
      }
      .cart-contents::after {
        content: "";
        background-image: url(/wp-content/themes/antipodes/src/svg/icon-cart-white.svg);
      }
    }
  }
  .site,
  .fetch-container {
    background-color: transparent;
    color: white;
  }
  .site-footer {
    .col-full {
      .social-media-links {
        a {
          color: white;
        }
      }
      .info,
      .info p {
        color: white;
      }
    }
  }
}

.menu-transitioning {
  .site-header {
    .main-navigation,
    .secondary-navigation {
      ul li a {
        color: black;
      }
    }
  }
}

@media (max-width: 1280px) {
  .post-type-archive-anagnoseis,
  .single-anagnoseis {
    .site-header {
      .main-navigation,
      .secondary-navigation {
        ul li a {
          color: black;
        }
      }
      .site-header-cart {
        a {
          color: black;
        }
        .cart-contents {
          &:after {
            background-image: url(/wp-content/themes/antipodes/src/svg/icon-cart.svg);
          }
        }
      }
    }
  }
}

.post-type-archive-anagnoseis {
  .site-content {
    .col-full {
      width: auto;
      margin: 0;
      padding: 0;
      max-width: 100%;
    }
  }
  .content-area {
    .site-main {
      margin-right: 0;
      margin-top: 8%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      .anagnoseis {
        &-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          width: 100%;
          margin-left: 15%;
        }
        &-item {
          width: calc(33.33333333333333%);
          max-width: 300px;
          margin-right: 14%;
          margin-bottom: 8vw;
          a {
            display: flex;
            flex-direction: column;
          }
          h2 {
            @include large_heading;
          }
          p {
            @include t_16;
            line-height: 1.3;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1830px) {
  .post-type-archive-anagnoseis {
    .content-area {
      .site-main {
        .anagnoseis {
          &-item {
            margin-right: 10%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1540px) {
  .post-type-archive-anagnoseis {
    .content-area {
      .site-main {
        .anagnoseis {
          &-item {
            margin-right: 7%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .post-type-archive-anagnoseis {
    .content-area {
      .site-main {
        .anagnoseis {
          &-list {
            justify-content: flex-end;
          }
          &-item {
            width: calc(50%);
            margin-right: 10%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 889px) {
  .post-type-archive-anagnoseis {
    .content-area {
      .site-main {
        .anagnoseis {
          &-list {
            justify-content: center;
            margin-left: 0;
          }
          &-item {
            width: 60vw;
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 10vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 485px) {
  .post-type-archive-anagnoseis {
    .content-area {
      .site-main {
        .anagnoseis {
          &-item {
            width: 70vw;
            margin-bottom: 12vw;
            p {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}

.single-anagnoseis {
  .site-content {
    .col-full {
      max-width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  .anagnoseis {
    &__intro {
      max-width: 66vw;
      margin: 0 auto;
      h2 {
        @include t_72;
        @include sans_bold;
      }
      p {
        @include t_24;
      }
    }
    &__list-container {
      display: flex;
      flex-direction: column;
      margin-top: 80px;
    }
    &__item {
      display: grid;
      grid-template-columns: 30% 11% 59%;
      margin-bottom: 15px;
      img {
        margin-bottom: 0px;
      }
      &--excerpt {
        padding: 75px;
        background-color: #e5e5e5;
        color: black;
        > * {
          color: black;
        }
        h3 {
          color: black;
        }
        h2 {
          @include sans_bold;
          @include t_36;
        }
        p {
          @include t_26;
          line-height: 1.4;
        }
      }
      &--menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem;
        padding-bottom: 1rem;
        > *,
        a {
          color: #c7c7c7;
        }
        &-content {
          // max-width: 100%;
        }
      }
      &--number {
        text-align: center;
        @include t_36;
      }
      .carousel-status {
        margin-bottom: 12px;
        line-height: 1.3;
      }
      .flickity-page-dots.anagnoseis {
        margin-bottom: 40px;
        margin-left: -8px;
        .dot {
          border: 1px solid #c7c7c7;
        }
        .dot.is-selected {
          background-color: #c7c7c7;
        }
      }
      .anagnoseis__carousel {
        height: 100%;
        overflow: hidden;
        padding-bottom: 2.4rem;
        .flickity-page-dots {
          display: none;
        }
      }
    }
  }
}

/* IE11 */
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .single-anagnoseis {
    .anagnoseis {
      &__item {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 15px;
        img.book-spine {
          display: none;
        }
        .post-thumbnail__container {
          width: 40%;
        }
        &--excerpt {
          width: 40%;
        }
        &--menu {
          width: 20%;
        }
      }
    }
  }
}

@media screen and (max-width: 1680px) {
  .single-anagnoseis {
    .anagnoseis {
      &__item {
        &--menu {
          padding: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .single-anagnoseis {
    .anagnoseis {
      &__item {
        grid-template-columns: 30% 11% 59%;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .single-anagnoseis {
    .anagnoseis {
      &__item {
        &--menu {
          > *,
          a {
            color: #c7c7c7;
          }
        }
        &--number {
          text-align: center;
          @include t_16;
        }
        &--book-link {
          @include t_16;
          line-height: 1.2;
          word-wrap: normal;
        }
        .carousel-status {
          @include t_16;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .single-anagnoseis {
    .flickity-viewport {
      padding-right: 0 !important;
    }
    .anagnoseis {
      &__intro {
        max-width: 75vw;
        margin: 0 auto;
        h2 {
          @include t_36;
          @include sans_bold;
        }
        p {
          @include t_24;
        }
      }
      &__list-container {
        margin-top: 4rem;
      }
      &__item {
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        .book-spine {
          display: none;
        }
        &--number {
          @include t_20;
        }
        &--book-link {
          @include t_20;
        }
        .carousel-status {
          @include t_20;
        }
        &--excerpt {
          padding: 2rem;
          h2 {
            @include sans_bold;
            @include t_36;
          }
          p {
            @include t_26;
            line-height: 1.4;
          }
        }

        .anagnoseis__carousel {
          padding-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 595px) {
}
