.single-authors {
    .site-content {
        .col-full {
            max-width: 100%;
            margin: 0;
            padding: 0;
        }
    }

    .author-top {
        display: flex;
        justify-content: space-between;
        max-width: 75vw;
        margin: 0 auto;
        margin-bottom: 120px;
    }

    .author-photo {  
        display: flex;
        justify-content: center;
        align-items: flex-start;
        img {
            margin: 0;
            border-radius: 50%;
            max-width: 300px;
        }
    }

    .author-photo, 
    .author-cv {
        width: calc(50% - 30px);
    }

    .author-cv {
        .entry-title {
            @include large_heading;
        }
        p {
            @include paragraph;
        }
    }

    .author-interviews {
        .main-carousel {
            max-width: 42vw;
        }
        .row {
            h2 {
                @include large_heading;
            }
            p {
                @include paragraph;
            }
            .arrow-link {
                @include t_22; //22px
            }
        }
    }
}

.post-type-archive-authors {
    .site-main {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .row {
            column-count: 2;
            column-width: 16rem;
            h4 {
                @include t_18;
            }
            h2 + h4 {
                margin-top: 30px;
            }
        }
        .entry-title {
            @include t_18;
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 768px) {
    .post-type-archive-authors {
        .site-main { 
            .row {
                margin: 0 auto; 
                display: flex;
                flex-direction: column; 
                justify-content: center;
                align-items: center;
                h2, h4 {
                    @include t_22;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .single-authors {
        .author-top {
            flex-direction: column;
        }
       
        .author-photo, 
        .author-cv {
            width: auto;
        }

        .author-photo {
            justify-content: center;
            margin-bottom: 3rem;
        }

        .author-interviews {
            .main-carousel {
                max-width: 75vw;
            }
        }
    }
}