.single-product {
    .product_title {
        @include large_heading;
        margin-bottom: 0;
    }

    .book {
        &__author {
            @include t_36;
            .gender-pronoun {
                @include sans_regular;
            }
            a {
                @include sans_bold;
                color: $red;
            }
        }
        &__translators {
            @include sans_regular;
            @include t_18;
            border-top: 0;
            padding: 0;
            margin-top: 15px;
            margin-bottom: 11px;
        }
        &__posted_in {
            display: flex;
            margin-bottom: 22px;
            margin-left: -5px;
            @include t_18;
            a {
                color: black;
                padding-left: 5px;
            }
        }  
    }

    .custom-image {
        &__container {
            width: 74%;
            position: relative;
        }
        &__inner  {
            position: absolute;
            top: 0;
            left: 0;
            width: 175%;
            max-width: 175%; 
        }
    }

    .entry-summary {
        margin-bottom: 0!important;
        z-index: 1;
        p {
            @include t_24;
            line-height: 1.2;
        }
    }

    table.variations {
        display: none;
        th, td {
            padding: 0;
        }
    }

    .single_variation_wrap {
        display: flex;
        align-items: center;
        button {
            padding: 0;
            &:hover {
                background-color: transparent;
                border-color: transparent;
                color: inherit;
            }
            &.button--read-sample {
                display: none;
                &.visible {
                    display: block;
                }
                &:hover {
                    g#bg-button-read_sample {
                        use {
                            fill: #000000;
                        }
                    }
                }
            }
            &.button--favorite-idle {
                &:hover {
                    g#bg {
                        use {
                            fill: #000000;
                        }
                    }
                }
            }
        }
    }

    //cart button
    .single_add_to_cart_button {
        position: relative;
        .product-price {
            color: white;
            position: absolute;
            display: flex;
            top: 48%;
            left: 50%;
            transform: translate(-50%, -48%); 
            font-size: 16px; 
        }
        #svg-buy-text {
            display: none;
        }
    }

    div.product .variations_button {
        padding-top: 0;
    }

    div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
        display: none;
    }

    .site-content {
        .col-full {
            max-width: 100%;
            margin: 0;
            padding: 0;
        }
    }
    
    .product-top {
        position: relative;
        max-width: 100%;
        overflow: hidden;
        &__inner {
            max-width: 75vw;
            margin: 0 auto;
            z-index: 1;
        }
        &__divider {
            margin-top: 60px;
            height: 3px;
            background-color: #bbbbbb;
            margin-bottom: 40px;
        }
        .book__posted_in {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
        }
    }

    .col-custom {
        max-width: 75vw;
        margin: 0 auto;
        display: flex;
    }

    .col-constrained {
        max-width: 75vw;
        margin: 0 auto;
        display: flex;
        .left {
            margin-right: 4.347826087%;
            width: 39.1304347826%;
        }
        .right {
            width: 56.5217391304%;
        }
    }

    .lined-heading {
        position: relative;
        //text-align: center;
        display: flex;
        align-items: center;
        margin-top: 72px;
        margin-bottom: 25px;
        .line {
            width: calc(38% - 28px);  
            height: 4px;
            background-color: black;
        }
        .text {
            @include sans_bold;
            @include t_28;
            margin-left: 28px;
        }
    }

    .award {
        @include sans_bold;
        margin-bottom: 6px;
    }

    .tags-awards {
        .left .row {
            margin-left: 10px;
            margin-top: -4px;
            a {
                @include t_16;
                color: $red;
            }
        }
        .book__posted_in {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }

    .book-excerpts {
        &[data-status="hidden"] {
            display: none;
        }
        &[data-status="visible"] {
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            background-color: $body_bg;
            padding: 2rem 4rem;
            z-index: 999; 
        }
        &__inner {
            position: absolute;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 60vw;
            padding: 5rem;
            padding-top: 8rem;
            background-color: white;
            @include t_30;
            line-height: 1.4;
            overflow: auto;
            .close-excerpt {
                position: absolute;
                top: 3rem;
                right: 3rem;
                background-color: transparent;
                padding: 0;
                width: 40px;
                height: 40px;
                background-image: url('/wp-content/themes/antipodes/public/svg/icon-close.svg');
                background-repeat: no-repeat;
            }
            &::-webkit-scrollbar {
                width: .25em;
            }
            &::-webkit-scrollbar-thumb {
                background-color: black;
                outline: 1px solid black;
            }
        }
    }
}

@media (max-width: 1280px) {
    .single-product {
        .col-constrained {
            max-width: 85vw;
        }
    }
}

@media (max-width: 768px) {
   .single-product {
        .col-constrained {
            max-width: 75vw;
            flex-direction: column;  
            .left {
                width: 100%;
            }
            .right {
                width: 100%;
            }
        }

        .custom-image {
            &__inner  {
                position: relative; 
                width: 250%;
                max-width: 250%; 
            }
        }

        .lined-heading {
            .line {
                width: calc(34% - 28px);  
            }
        }
   } 
}

@media (max-width: 595px) {

    .single-product {
        .col-constrained {
            margin-left: 60px;
        }

        div.product .summary {
            margin-top: 40px;
        }

        .lined-heading {
            .line {
                width: calc(28% - 28px);  
            }
        }

        .single_variation_wrap {
            button {
                &.single_add_to_cart_button {
                    svg {
                        width: 120px;
                        height: 120px;
                    }
                }
                &.button--read-sample {
                     svg {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
            .add_to_wishlist,
            .yith-wcwl-wishlistexistsbrowse.show, .yith-wcwl-wishlistaddedbrowse.show,
            .yith-wcwl-wishlistexistsbrowse.show a, 
            .yith-wcwl-wishlistaddedbrowse.show a,
            .yith-wcwl-wishlistaddedbrowse a.tooltip {
                width: 80px!important;
                height: 86.3px;  
                background-size: 80px;
            }
            
        }

        .tags-awards {
            .left .row {
                margin-left: 0;
            }
        }
    }
}

.add_to_wishlist {
    display: flex;
    width: 113px;
    height: 122px;
    background-image: url('/wp-content/themes/antipodes/public/svg/button-favorite-idle.svg');
    background-repeat: no-repeat;
}

.yith-wcwl-add-to-wishlist {
    margin-top: 0;
}

.yith-wcwl-add-button.show {
    position: relative;
    .ajax-loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.yith-wcwl-wishlistexistsbrowse.show, 
.yith-wcwl-wishlistaddedbrowse.show {
    width: 113px;
    height: 122px;
    a {
        display: flex;
        width: 100%;
        height: 100%;
        background-image: url('/wp-content/themes/antipodes/public/svg/button-favorite-on.svg');
        background-repeat: no-repeat;
    }
    .feedback {
        display: none;
    }
}

.yith-wcwl-add-button.hide {
    display: none;
}

#yith-wcwl-popup-message {
    display: none!important;
    background-color: transparent;
    border: none;
}

