.search-no-results {
    .woocommerce-products-header {
        display: none!important;
    }
    
}

.search-results {
    &.post-type-archive-product,
    &.tax-product_cat {
        .products { 
            &.thumbs-layout, 
            &[data-layout="thumbs-layout"] { 
                align-items: flex-start;
            }
        }
    }
}

.post-type-archive-product,
.tax-product_cat {
    .site-main {
        position: relative;
        display: flex;
        justify-content: flex-end;
    }  
    .woocommerce-products-header {
        position: absolute;
        left: -25px;  
        display: flex;
        align-content: center;
        .sorting-menu {
            margin-left: 16px;
            h3 {
                @include t_18;
                @include sans_bold;
                text-align: left;
            }
        }
        .sorting-options {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: left;
            li {
                line-height: 1.3;
            }
            a {
                @include t_18;
                color: #999;
                &.selected {
                    color: black;  
                }
            }
        }
        .book-layout-menu {
            .layout-switch {
                margin-bottom: 50px;
                a {
                    text-align: left;
                }
            } 
        }
    }
    .site-content .col-full {
        max-width: 100%;
        margin-left: 3%;
        margin-right: 4%;
    }
    .products-list {
        margin-left: 14%;
        width: 75%;
        
    }
    .products {
        margin-left: 5%;
        margin-top: 32px; 
        min-height: 100vh; 
        &:before {
            display: none;
        }
        &.list-layout, 
        &[data-layout="list-layout"] {
            margin-top: 26px;   
            li {
                float: none!important;  
                width: 100%!important;
                text-align: left;
                margin-right: 0;
                margin-bottom: 0;
            }
            .woocommerce-loop-product__link img,
            .woocommerce-loop-product__title,
            .book__spine-image,
            .post-thumbnail__container,
            .woocommerce-placeholder,
            a.book__spine-image,
            .book__spine-details {
                display: none;
            }
            
            .book__details {
                display: flex;
                margin-bottom: 30px;
                > * {
                    @include t_24;
                    color: black;
                    margin-bottom: 0;
                }
                .book__title {
                    width: 51%;
                    margin-right: 30px;
                    @include sans_bold();
                }
                .book__author {
                    width: 42%;
                }
                .book__first-edition {
                    width: 7%;
                    text-align: right;
                }
            }
        }
        &.spines-layout, 
        &[data-layout="spines-layout"] { 
            margin-top: 5px;
            li {
                float: none!important;
                width: 100%!important;
                text-align: left;
                margin-right: 0;
                margin-bottom: 0;
                display: flex;
                justify-content: flex-end;
            }
            .woocommerce-loop-product__link img,
            .woocommerce-loop-product__title,
            .book__details,
            .post-thumbnail__container,
            .woocommerce-placeholder {
                display: none;
            }
            .row {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
            a.book__spine-image {
                display: flex;
                margin-top: 5px;
                &:first-child {
                    margin-top: 0;
                }
                > * {
                    pointer-events: none;
                }
                img {
                    margin-bottom: 0;
                }
            }
            .book__spine-details {
                display: flex;
                justify-content: space-between;
                margin-top: 2px;
                overflow: hidden;
                background-color: white;
                transition: height 0.25s ease;
                height: 0;
                padding: 0px 33px;
                backface-visibility: hidden;
                will-change: height;
                &.transitioning {
                    figure, div {
                        //margin-top: 25px;
                    }
                }
                &.open {
                    min-height: 50px;
                    transition: height 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000);
                }
                
                figure {
                    margin-right: 11%;
                    margin-top: 0;
                    margin-bottom: 25px;
                    height: auto;
                    padding: 25px 0;
                }
                img {
                    min-width: 262px;
                    max-width: 262px;
                    margin-bottom: 0;
                    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
                }
                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-top: 0;
                    padding: 25px 0;
                    p {
                        @include t_18;
                    }
                    a {
                        @include t_22; 
                        color: black;
                        opacity: 0;
                        &.visible {
                            opacity: 1;
                            transition: opacity 500ms;
                        }
                    }
                }
            }
        }
        &.thumbs-layout, 
        &[data-layout="thumbs-layout"] { 
            display: flex;
            flex-wrap: wrap;
            align-items: center;   
            li.product {
                margin-bottom: 0;
                margin-right: 3%;
                width: 31.3%;
                &:last-child, &.last {
                   margin-right: 0!important; 
                }

                a.post-thumbnail__container {
                    display: flex;
                    &:hover {
                        opacity: 0.7;
                        transition: opacity 0.3s linear;
                    }
                }
            }
            .woocommerce-loop-product__link img,
            .woocommerce-loop-product__title,
            .book__details,
            .book__spine-image,
             a.book__spine-image,
            .book__spine-details {
                display: none;
            }
        }
        .product {
            .row {
                max-width: 100%;
                width: 100%;
            }
            img {
                margin: 0;
                margin-bottom: 1.618em;
            }
            .woocommerce-placeholder {
                height: 414px;
            }
        }
    }
    .price, .add_to_cart_button {
        display: none!important;
    }
    .storefront-sorting {
        margin-left: 5%;
        margin-top: 28px;
    }
    .woocommerce-ordering {
        display: none;
    }
}

/* IE11 */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
   .post-type-archive-product,
    .tax-product_cat {
        .products {
            &.spines-layout, 
            &[data-layout="spines-layout"] {
                .row {
                    display: block;
                }
                .book__spine-details {
                    div {
                        max-width: 60%;
                    }
                }
            }
        }
    } 
}

@media (max-width: 1680px) {
    .post-type-archive-product,
    .tax-product_cat {
        .woocommerce-products-header {
            left: -15px; 
        }
    }
}

@media (max-width: 1440px) {
    .post-type-archive-product,
    .tax-product_cat {
        .woocommerce-products-header {
            left: -8px; 
        }
    }
}

@media (max-width: 1280px) {
    .post-type-archive-product,
    .tax-product_cat  {
        .woocommerce-products-header {
            left: 1.55%;
            .book-layout-menu {
                .layout-switch {
                    flex-direction: row;  
                    margin-bottom: 0;
                }
            }
        }
        
        .products-list {
            margin-left: 0;
            width: 97%;
            margin-top: 240px;
        }

        .products {
            margin-left: 0;
        }

        .book-layout-menu {  
            .layout-switch {
                display: none;
            } 
        }

        // .products {
        //     margin-left: 0;
        //     &.spines-layout, 
        //     &[data-layout="spines-layout"] {
        //         a.book__spine-image {
        //             margin-top: 0;
        //         }
        //         .book__spine-details {
        //             flex-direction: column;
        //         }
        //     }
        //     &.list-layout, 
        //     &[data-layout="list-layout"] {
        //         .book__details {
        //             flex-direction: column;
        //             .book__title {
        //                 width: 100%;
        //             }
        //             .book__author {
        //                 width: 100%;
        //             }
        //             .book__first-edition {
        //                 width: 100%;
        //                 text-align: left;
        //             }
        //         }
        //     }
        //     &.thumbs-layout, 
        //     &[data-layout="thumbs-layout"] {

        //     } 
        // }
    }
}

@media screen and (max-width: 1024px) {
    .post-type-archive-product,
    .tax-product_cat {
        .site-content .col-full {
            margin-left: 4%;
        }
        .products-list {
            margin: 0 auto;
            margin-top: 165px;
        }
        .book-layout-menu {  
            .layout-switch {
                display: none;
            } 
        }
    }
}

@media screen and (max-width: 768px) {
    .post-type-archive-product,
    .tax-product_cat {
        .products-list {
        }
        .book-layout-menu {  
             
        }
        .products {
            &.spines-layout, 
            &[data-layout="spines-layout"] {
               
            }
            &.list-layout, 
            &[data-layout="list-layout"] {

            }
            &.thumbs-layout, 
            &[data-layout="thumbs-layout"] {
                align-items: flex-start;
                justify-content: space-between;
                //flex-direction: column;
                li.product {
                    width: 47%; 
                    margin: 0;
                     
                }
            } 
        }
    }
}

@media screen and (max-width: 595px) {
    .post-type-archive-product,
    .tax-product_cat {
        .site-content {
            margin-top: 130px;
        }
        .products-list {
            margin-top: 105px;
        }
        .products {
            &.thumbs-layout, 
            &[data-layout="thumbs-layout"] {
                flex-direction: column;
                li.product {
                    width: 100%; 
                        
                }
            } 
        }
        .woocommerce-products-header {
            .sorting-menu {
                h3 {
                }
            }
            .sorting-options {
                a {
                }
            }
        }
    }
}

