.page-id-37 {
     min-height: 110%;
    .site-content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100vw;
        min-height: 110%;
        .col-full {
            max-width: 100%;
            padding: 0;
        }
    }
    .contact {
        &__top {
            display: flex;
            flex-direction: column;
            .row {
                margin: 0 auto;
                
            }
            h1 {
                @include sans_bold;
                @include t_36;
            }
            .entry-content {
                @include sans_bold;
                @include t_22;
            }
        }
        &__map {
            width: 100vw;
        }
        &__form {
            display: flex;
            justify-content: space-between;
            max-width: 75vw;
            margin: 0 auto;
            margin-top: 70px;
            h2 {
                @include sans_bold;
                @include t_36;
            }
            article {
                max-width: 300px;
                @include t_22;
                line-height: 1.5;
            }
        }
    }
}

.wpcf7 {
    max-width: 570px;
    input.wpcf7-form-control,
    textarea.wpcf7-form-control {
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        border-bottom-style: solid;
        border-bottom-color: black;
        border-bottom-width: 3px;
        color: black;
        @include sans_bold;
    }
    textarea.wpcf7-form-control {
        background-attachment: local;
        background-image:
            linear-gradient(to right, transparent 10px, transparent 10px),
            linear-gradient(to left, transparent 10px, transparent 10px),
            repeating-linear-gradient(transparent, transparent 28px, black 28px, black 31px, transparent 31px);
        line-height: 31px;
        padding: 0;
        border: none;
        border-bottom-color: transparent;
        border-bottom-width: 0;
    }
    input[type="text"], 
    input[type="email"] {
        width: 100%;
        padding: 0;
    }
    input[type="submit"] {
        border: 3px solid black;
        float: right;
        margin-top: 30px;
         &:hover {
            background-color: black;
            color: white;
            transition: background-color .15s;
        }
    }
}

div.wpcf7-response-output {
    margin: 5em 0.5em 1em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
    @include sans_bold;
}
::-moz-placeholder { /* Firefox 19+ */
    color: black;
    @include sans_bold;
}
:-ms-input-placeholder { /* IE 10+ */
    color: black;
    @include sans_bold;
}
:-moz-placeholder { /* Firefox 18- */
    color: black;
    @include sans_bold;
}

@media screen and (max-width: 1630px) {
    .page-id-37 {
        .contact {
            &__form {
                justify-content: center;
                max-width: 50vw;
                margin-top: 4rem;
                margin: 0 auto;
                flex-direction: column;
                article {
                    max-width: 50vw;
                    margin-bottom: 2rem;
                }
                .input-text {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .page-id-37 {

        .contact {
            &__top {
                display: flex;
                flex-direction: column;
                .row {
                    margin: 0 auto;
                    
                }
                h1 {
                    @include sans_bold;
                    @include t_36;
                }
                .entry-content {
                    @include sans_bold;
                    @include t_22;
                }
            }
            &__map {
                width: 100vw;  
            }
             &__form {
                max-width: 75vw;
                article {
                    max-width: 100vw;
                }
                .wpcf7-form {
                    .wpcf7-form-control {
                        //width: 80vw;
                    }
                }
            }
        }
    }
}