.page-template-default {
    .site-main {
        .entry-header {
            margin-bottom: 3rem;
            padding: 0;
            .entry-title {
                @include t_36;
                @include sans_bold; 
                text-align: center; 
            }
        }
    }
    .type-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .entry-content, 
        .entry-content:not(.right) {  
            width: 60vw;
            margin: 0 auto;
            @include t_20;
            h2 {
                @include sans_bold;
                @include t_26;
            }
        }
    } 
}

@media screen and (max-width: 1024px) {
    .page-template-default {
        .type-page {
            .entry-content,
            .entry-content:not(.right) {
                width: 85vw;
            }
        }
    }
}

@media screen and (min-width: 1025px) {
    .page-template-default {
        .type-page {
            .entry-content,
            .entry-content:not(.right) {
                width: 75vw;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .page-template-default {
        .type-page {
            .entry-content,
            .entry-content:not(.right) {
                width: 65vw;
            }
        }
    }
}

@media screen and (min-width: 1680px) {
    .page-template-default {
        .type-page {
            .entry-content,
            .entry-content:not(.right) {
                width: 55vw;
            }
        }
    }
}

.woocommerce-cart,
.woocommerce-checkout  {
    .type-page {
        .entry-content {
            //width: 80vw!important;  
        }
    }
}
@media screen and (max-width: 1440px) {
    .woocommerce-cart,
    .woocommerce-checkout  {
        .type-page {
            .entry-content {
                width: 85vw!important;
            }
        }
    }
}

.woocommerce-order-pay {
    .woocommerce {
        p {
            max-width: 60vw;
        }
    }
}

//MY ACCOUNT
/*
* 1. Content
* 2. Navigation
* 3. Account form
* 4. Addresses
* 5. Orders
* 6. Order details
* 7. Customer details
* 8. Messages
*/
.woocommerce-MyAccount-content {
    width: 100%;
    float: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
        @include t_20;
    }
}

.woocommerce-MyAccount-navigation {
    width: 100%;
    margin: 0;
    float: none;
    display: flex;
    ul {
        margin-bottom: 3rem;
        li {
            a {
                @include t_20;
                &:before {
                    width: 0;
                    margin: 0;
                    padding: 0;
                }
                &:after {
                    padding-left: .5rem;
                }
                
            }
            &.is-active {
                a {
                    @include sans_bold;
                    &:after {
                        @include sans_regular;
                    }
                }
            }     
        }
    }
}

@media screen and (min-width: 1281px) {
    .woocommerce-MyAccount-navigation {
        justify-content: center;
    }
}
//override default css
.hentry {
    .entry-content {
        .woocommerce-MyAccount-navigation {
            ul {
                display: flex; 
                flex-wrap: wrap;
                border-top: none; 
                li {
                    border-bottom: none;
                    margin-right: .5rem;
                    &.woocommerce-MyAccount-navigation-link {
                        a {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
} 

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard,
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders,
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads,
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address,
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods,
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account,
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout,
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--subscriptions {
    a::before {
        content: ""
    }
    a::after {
        content: "|"
    }
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout {
    a::after {
        content: "";
    }
}

form.woocommerce-EditAccountForm, 
form.woocommerce-checkout,
form.woocommerce-cart-form,
#customer_login {
    button, 
    input[type="button"], 
    input[type="reset"], 
    input[type="submit"], 
    .button, 
    .widget a.button {
        border: 3px solid black;
        color: black;
        @include t_18;
        @include sans_bold;
        &:hover {
            background-color: black;
            color: white;
            transition: background-color .15s;
        }
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"],
    select,
    textarea
     {
        @include t_22;
        @include sans_bold;
        color: black;
        box-shadow: none;
        border-bottom: 3px solid black;
        background-color: transparent;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 5px;
    }

    input[type="number"] {
        box-shadow: none;
    }

    button[type="submit"] {
        margin-top: 1.5rem;
    }
    
    .form-row {
        label {
            @include t_18;
            color: black;
        }
    }

    fieldset {
        padding: 0;
        margin: 0;
        background-color: transparent;
        margin-top: 3rem;
        legend {
            background-color: transparent;
            padding: 0;
            margin: 0;
            margin-bottom: 1.5rem;
        }
    }
}

form.woocommerce-checkout {
    .woocommerce-billing-fields,
    .woocommerce-shipping-fields {
        h3 {
            @include t_26;
            @include sans_bold;
        }
    }
    #order_review_heading {
        @include t_26;
        @include sans_bold;
    }
    #order_review {
        background-color: transparent;
    }
    .select2-container, 
    .select2-container--default .select2-selection--single {
        @include t_22;
        @include sans_bold;
        color: black;
        box-shadow: none;
        border: none!important;
        background-color: transparent!important;
        border-radius: 0px!important;
        height: auto!important;
        &:focus {
            outline: 1px solid black!important;
        }
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: black;
        border: 3px solid black!important;
    }
}


.woocommerce-Addresses {
    .woocommerce-Address-title {
        display: flex;
        align-content: center;
        h3 {
            @include t_26;
            @include sans_bold;
        }
    }
    address {
        font-style: normal;
        @include t_20;
    }
}

.addresses header.title a {
    margin-left: 15px;
    margin-top: 4px;
    width: auto;
    height: 1em;
}

//Orders
.woocommerce {
    table th,
    table tbody td {
        background-color: transparent!important;
    }

    table th {
        border-bottom: 3px solid black;
    }

    table:not(.shop_attributes) td, 
    table:not(.shop_attributes) th {
         padding: 15px;
         padding-left: 0;
         @include t_20;
    }

    .woocommerce-checkout-review-order-table {
        td {
            border-bottom: 3px solid black;
        }
    }

    table.cart td.actions {
        border-top: 3px solid;
        border-top-color: black;
    }
}

.shop_table button, 
.shop_table .button, 
.return-to-shop button, 
.return-to-shop .button,
.wc-proceed-to-checkout .button.checkout-button {
    background-color: transparent;
    border: 3px solid black;
    color: black;
    padding: 5px 15px;
    @include t_18;
    @include sans_bold;
    &:hover {
        background-color: black;
        color: white;
        transition: background-color .15s;
    }
}

.my_account_orders .button.view::after {
    content: '';
    width: 0;
    padding: 0;
    margin: 0;
}

////Order details
.woocommerce-order-details, .cart-collaterals {
    .woocommerce-order-details__title {
        @include t_26;
        @include sans_bold;
    }
    table.order_details {
        background-color: transparent;
    }
    table th,
    table tbody td {
        background-color: transparent!important;
        @include t_20;
    }

    table:not(.shop_attributes) td, 
    table:not(.shop_attributes) th {
         padding: 15px;
         padding-left: 0;
         border-bottom: 3px solid black;
    }
}
//Customer details
.woocommerce-customer-details {
    .addresses {
        .woocommerce-column__title {
            @include t_26;
            @include sans_bold;
        }
        address {
            font-style: normal;
            @include t_20;
        }
    }
}
//Woocommerce messages
.woocommerce-error, 
.woocommerce-info, 
.woocommerce-message, 
.woocommerce-noreviews, 
p.no-comments {
     @include t_16;
    width: auto;
    background-color: lightgray;
    color: black; 
}

@media screen and (max-width: 768px) {
    .woocommerce-error, 
    .woocommerce-info, 
    .woocommerce-message, 
    .woocommerce-noreviews, 
    p.no-comments {
        display: flex;
        flex-direction: column;
        line-height: 1.3;
        .button {
            padding-left: 0;
            margin-bottom: 8px;
        }
    }
}

.button.added_to_cart:focus, .button.wc-forward:focus {
    outline-color: black;
}

.woocommerce-error .button, 
.woocommerce-info .button, 
.woocommerce-message .button, 
.woocommerce-noreviews .button, 
p.no-comments .button, 
.woocommerce-error a, 
.woocommerce-info a, 
.woocommerce-message a, 
.woocommerce-noreviews a, 
p.no-comments a {
    color: black;
    @include sans_bold;
    &:hover {
       color: black; 
    } 
}

#payment .payment_methods > li:not(.woocommerce-notice),
#payment .payment_methods > li .payment_box, #payment .place-order {
    background-color: transparent;   
    @include t_20; 
}

.star-rating span:before, .quantity .plus, .quantity .minus, p.stars a:hover:after, p.stars a:after, .star-rating span:before, #payment .payment_methods li input[type=radio]:first-child:checked+label:before {
    color: green;
}

#payment .place-order .button {
    @include t_20;
    background-color: transparent;
    border: 3px solid black;
    float: right;
    margin-top: 30px;
        &:hover {
        background-color: black;
        color: white;
        transition: background-color .15s;
    }
}

.woocommerce-thankyou-order-received {
    text-align: center;
}

.woocommerce-order {
    width: 60vw;
    ul.order_details li {
        @include t_16;
        strong {
            @include t_20;
        }
    }
}

@media screen and (max-width: 595px) {
    .woocommerce-order {
        width: 85vw;
    }
}

#customer_login {
    h2 {
        @include t_26;
        @include sans_bold;
    }
    .woocommerce-form-login {

    }
}

@media screen and (max-width: 960px) {
    table.cart td.product-remove {
        border-top-width: 40px;
        border-top-color: transparent;
    }
}



