.home {
    background-color: black;
    color: white;
    .site-main {
        margin-bottom: 0;
        height: 100vh;
    }
    .site-header {
        position: absolute;
        width: 100%;
        background-color: transparent;
        color: white; 
        .antipodes-logo-white {
            pointer-events: none;
        }
        .col-full {
            z-index: 9;
        }
        .storefront-primary-navigation {
            z-index: 8;
            display: none;  
            .col-full {
                padding: 0;
                margin: 0;
            }
        }
        .main-navigation,
        .secondary-navigation {
            margin-left: 5%;
            ul li a {
                color: black;   
            }
        }
        .primary-navigation {
            position: fixed;
            // position: absolute;
            // z-index: 6;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform: translate3d(0, 0, 0);
        }
        .nav-menu {
            position: fixed;
            left: 66%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            li {
                margin-bottom: 1rem;
                a {
                    padding: 0;
                    @include t_30;
                }
            }
        }
        .site-header-cart {
            display: none;
            // position: fixed;
            // right: 5%;
            // top: 5.5%;
            // z-index: 2;
            // a {
            //     color: black;
            // }
        } 
    }

    .site, .fetch-container {
        position: relative;
        height: 100vh;
        overflow: hidden; 
        background-color: black;
        color: white; 
        #content .col-full {
            width: auto;
            max-width: 100%;
            margin: 0;
            padding: 0;
        }
    }

    .site-footer {
        position: absolute;
        width: 100%;
        bottom: 3%;
        padding: 0;
        .col-full {
            .social-media-links {
                a {
                    color: black;
                }
            }
            .info {
                color: black;
               
            }
        }
    }
    
    .overlay--home {  
        width: 100%;
        height: 100%;
        background-color: black;  
        position: fixed;
        z-index: 1000;
        opacity: 1;
        visibility: visible;
        &.hidden {    
            opacity: 0;
            transform: translate3d(0, 0, 0) translateX(50%);
            transition: opacity 1s .75s, transform .8s cubic-bezier(0.165, 0.840, 0.440, 1.000);
            will-change: opacity, transform;
        }
        &.behind {
            z-index: -1;
            visibility: hidden;
        }
    }

    .loader--home {
        left: 50%;
    }

    .home-content {
        height: calc(100vh - 56px);
        .slide {
            display: flex;
            &.active {
                //opacity: 1;
            }
            &__content {
                max-width: 60%;
                margin: 0 auto;
                h2 {
                    @include t_30;
                    margin-bottom: 1em;
                    svg {
                        margin-top: 9px;
                    }
                }
                h2, h2 a {
                    color: white!important;
                }
                p {
                    @include t_20;
                    line-height: 1.3;
                }
                a[rel="tag"] {
                    color: white;
                    @include t_18;
                    @include sans_bold;
                }
            
            }
        }
        &__image {
            width: 50%;
            height: 100vh;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        &__text {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 50%;
            height: 100vh;
            background-color: black;
            
        }
    }

    .woocommerce-error {
        position: fixed;
        z-index: 3;
        top: 50%;
        transform: translateY(-50%);
    }

}


@media screen and (min-width: 1281px) {
    .menu-transitioning {
        .site-header {
            position: relative;
            width: 100%;
            background-color: transparent;
            color: white; 
            .col-full {
                z-index: 9;
            }
            .storefront-primary-navigation {
                z-index: 8;
                display: none;  
                .col-full {
                    padding: 0;
                    margin: 0;
                }
                
            }
            .main-navigation,
            .secondary-navigation {
                margin-left: 5%;
                ul li a {
                    color: black;   
                }
            }
            .primary-navigation {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                transform: translate3d(0, 0, 0);
            }
            .nav-menu {
                position: fixed;
                left: 66%;
                top: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                flex-direction: column;
                li {
                    margin-bottom: 1rem;
                    a {
                        padding: 0;
                        @include t_30;
                    }
                }
            }
            .site-header-cart {
                position: fixed;
                right: 5%;
                top: 5.5%;
                a {
                    color: black;
                }
            } 
        }
    }
}


@media (max-height: 1280px) {
    .site-header {
        .nav-menu {
            top: 375px!important;
            li a {
                @include t_24;
            }
        }
    }

}

@media (max-width: 1280px) {
    .home {
        .site-header {
            .nav-menu {
                left: 50%;
            }
            .site-header-cart {
                right: 65px;
            } 
        }
    }

    .site-header {
        position: absolute;
        width: 100%;
        background-color: transparent;
        color: white; 
        .col-full {
            z-index: 9;
        }
        .storefront-primary-navigation {
            z-index: 8;
            display: none;  
            .col-full {
                padding: 0;
                margin: 0;
            }
            
        }
        .main-navigation,
        .secondary-navigation {
            margin-left: 5%;
            ul li a {
                color: black;   
            }
        }
        .primary-navigation {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform: translate3d(0, 0, 0);
        }
        .nav-menu {
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            li {
                margin-bottom: 1rem;
                a {
                    padding: 0;
                    @include t_30;
                }
            }
        }
        .site-header-cart {
            position: fixed;
            right: 65px;
            top: 6.5%;
            a {
                color: black;
            }
        } 
    }
}

@media (max-width: 1024px) {
    .home {
        .home-content {
            .slide {
                &__content {
                    padding-top: 1em;
                    h2 {
                        margin-bottom: 0.5em;
                    }
                }
                .pp-tableCell {
                    flex-direction: column;
                }
            }
            &__image {
                width: 100%;
                height: 50vh;  
            }
            &__text {
                width: 100%;
                height: 50vh;
                align-items: flex-start;
            }
        }

        .site-footer {
            display: none;
        }

        .slide {
            flex-direction: column;
        }

        .overlay--home {  
            &.hidden { 
                transform: translate3d(0, 0, 0) translateY(100%);
                transition: opacity .5s .75s, transform .8s cubic-bezier(0.165, 0.840, 0.440, 1.000);
            }
        }
        
    }
}

@media (max-width: 768px) {
    .home {
        .home-content {
            .slide {
                &__content {
                    max-width: 75%;
                }
            }

            .flickity-page-dots {
                left: 11.5%;
            }
        }
    } 
}

@media (max-width: 595px) {
    .home {
        .home-content {
            .slide {
                &__content {
                    width: 100%;
                     padding-top: 2em;
                    h2 {
                        margin-top: 0.25em;
                        margin-bottom: 0.25em;
                    }
                    p {
                        display: none;
                    }
                }
            }
            &__image {
                width: 100%;
                height: 65vh;  
            }
            &__text {
                height: 35vh;
                .colored {
                    color: white!important;
                }
                .icon-arrow-right-small-white {
                    max-height: 16px;
                    margin-top: 6px!important;
                } 
            }
        }
        
        .site-header {
            .site-header-cart {
                top: 0.6%;
            }
        }

        .overlay--home {  
            &.hidden { 
                transform: translate3d(0, 0, 0) translateY(100%);
            }
        }
    }

    .site-header {
        .site-header-cart {
            top: 0.6%;
        }
    } 
}

@media screen and (max-width: 595px) and (max-height: 660px) {
    .home {
        .home-content {
            &__image {
                width: 100%;
                height: 60vh;  
            }
            &__text {
                height: 40vh;
            }
        }

        .overlay--home {  
            &.hidden { 
                transform: translate3d(0, 0, 0) translateY(100%);
            }
        }
    }
}
//MS EDGE
@supports (-ms-ime-align:auto) {
    .home {
        .site-header {
            .primary-navigation {
                position: absolute;
                z-index: 6;
            }
        }
    }

    .site-header {
            .primary-navigation {
                position: absolute;
                z-index: 6;
            }
        }
}

/* IE11 */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
    .menu-mobile-opened .mobile-menu-background {
        z-index: -1
    }

    .home .site-header .storefront-primary-navigation {
        display: block;
    }

    .loader--home {
        display: none;
    }
}
