#mc-embedded-subscribe {
    background-color: transparent;
    border: 3px solid black;
    color: black;
    &:hover {
        background-color: black;
        color: white;
        transition: background-color .15s;
    }
}

#mc_embed_signup_scroll {
    max-width: 65%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    #mc_embed_signup_scroll {
        max-width: 100%;
    }
}

.mc-field-group {
    margin-bottom: 1rem;
    max-width: 100%;
    .input-text, 
    input[type=email], 
    input[type=password], 
    input[type=search], 
    input[type=tel], 
    input[type=text], 
    input[type=url], 
    input#mce-EMAIL,
    textarea {
        width: 100%;
        font-size: 1rem!important;
        line-height: 1.4!important;
        font-family: 'CF Panoptik Bold', sans-serif!important;
        color: black!important;
        box-shadow: none!important;
        border-bottom: 3px solid black!important;
        background-color: transparent!important;
        padding-bottom: 0!important;
        padding-left: 0!important;
        padding-right: 0!important;
        padding-top: 5px!important;
    }
}

.content__gdprBlock {
    margin-top: 4rem;

    .mc_fieldset {
        background-color: transparent;
        border: 3px solid black;
        padding: 1em;
        input[type=checkbox], 
        input[type=radio] {
            padding: 0;
            margin-right: 16px;
        }
    }
}
