.archive {
    &.category,  
    &.tag {
        .col-full {
            max-width: 1920px;
        }
        .featured-post {
            .post-thumbnail {
                margin-bottom: 40px;
            }
            .post-details {
                max-width: 70vw;
                margin: 0 auto;
                justify-content: space-between;
                .post-header {
                    width: calc(40% - 15px);
                }
                .post-excerpt {
                    width: calc(60% - 15px);
                }
                .post-header {
                    h1, h1 a {
                        @include t_36;
                        @include sans_bold;
                        line-height: 1.3;
                        margin-bottom: 24px; 
                        margin-top: 0;
                    }
                    h2 {
                        @include t_34;
                        margin-bottom: 0;
                    }
                    a {
                        display: flex;
                        @include t_22;
                        margin-top: 20px;
                    }
                }
                .post-excerpt {
                    @include t_22;
                    line-height: 1.5;
                }
            }
        }
        .horizontal-grid {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 60px;  
            article {
                width: calc(50% - 30px);
                margin-bottom: 60px;
                .post-details {
                    margin-top: 28px;
                }
                .post-title {
                    @include t_36;
                    @include sans_bold;
                }
                .post-link {
                    @include t_22;
                    line-height: 1.1;
                    svg {
                        margin-top: 6px;
                    }
                }
                .post-excerpt {
                    @include t_22;
                    line-height: 1.4;
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .archive {
        &.category, 
        &.tag {
            .col-full {
                // max-width: 1920px;
                // margin-left: 3%;
                // margin-right: 4%;
            }
            .featured-post {
                .post-thumbnail {
                    // margin-bottom: 40px;
                }
                .post-details {
                    // max-width: 70vw;
                    // margin: 0 auto;
                    // justify-content: space-between;
                    .post-header {
                        // width: calc(40% - 15px);
                    }
                    .post-excerpt {
                        // width: calc(60% - 15px);
                    }
                    .post-header {
                        h1, h1 a {
                            // @include t_36;
                            // @include sans_bold;
                            // margin-bottom: 0;
                        }
                        h2 {
                            // @include t_34;
                            // margin-bottom: 0;
                        }
                        a {
                            // display: flex;
                            // @include t_22;
                            // margin-top: 20px;
                        }
                    }
                    .post-excerpt {
                        // @include t_22;
                        // line-height: 1.5;
                    }
                }
            }
            .horizontal-grid {
                // display: flex;
                // justify-content: space-between;
                // margin-top: 60px;
                article {
                    // width: calc(50% - 15px);
                    .post-details {
                        // margin-top: 28px;
                    }
                    .post-title {
                        // @include t_36;
                        // @include sans_bold;
                    }
                    .post-link {
                        // @include t_22;
                        // line-height: 1.1;
                        svg {
                            // margin-top: 6px;
                        }
                    }
                    .post-excerpt {
                        // @include t_22;
                        // line-height: 1.4;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .archive {
        &.category,
        &.tag {
            .site-content {
                .col-full {
                    margin: 0;
                }
            }
            
            .featured-post {
                margin-bottom: 2rem;
                .post-thumbnail {
                    margin-bottom: 1rem;
                }
                .post-details {
                    flex-direction: column;
                    max-width: 75vw;
                    .post-header {
                        width: 100%;
                        margin-bottom: 2rem;
                    }
                    .post-excerpt {
                        width: 100%;
                    }
                }
            }
            .horizontal-grid {
                flex-direction: column;
                max-width: 75vw;
                margin: 0 auto;
                article {
                    width: 100%;
                    margin-bottom: 4rem;
                }
            }
        }
    }
}

.single-post {
    .site-content {
        .col-full {
            max-width: 1920px;
            padding: 0;
        }
    }
    
    .post-thumbnail {
        margin-bottom: 80px;
    }
    .post-details {
        max-width: 70vw;
        margin: 0 auto;
        justify-content: space-between;
        
        .post-sidebar {
            width: calc(40% - 30px);
        }
        .post-content {
            width: calc(60% - 30px);
        }
        .post-header {
            h1, h1 a {
                @include t_36;
                @include sans_bold;
            }
            a {
                @include t_22;
            }
        }
        .post-sidebar {
            > * {
                @include t_24;
                line-height: 1.3;
            }
            span {
                display: flex;
            }
            hr {
                margin: 40px 0;
            }
        }
        .post-content {
            @include t_22;    
            line-height: 1.5;
            h1, h1 a {
                @include t_36;
                @include sans_bold;
                margin-bottom: 0;
            }
            h2 {
                @include t_36;
            }
        }
    } 
    .lined-heading {
        margin-top: 80px;
    }
    .horizontal-grid {
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
        article {
            width: calc(33.333333333333336% - 15px);
            .post-thumbnail {
                margin-bottom: 20px;
            }
            .post-details {
                margin-top: 28px;
                h2 + h3 {
                    padding: 0;
                }
                h3 {
                    border: none;
                    @include t_34;
                }
            }
            .post-title {
                @include t_36;
                @include sans_bold;
                margin-bottom: 0;
            }
            .post-link {
                @include t_22;
                line-height: 1.1;
                svg {
                    margin-top: 6px;
                }
            }
            .post-excerpt {
                @include t_22;
                line-height: 1.4;
                margin-top: 28px;
            }
        }
    }             
}

@media screen and (max-width: 768px) {
    .single-post {
        .site-content {
            .col-full {
                margin: 0;
            }
        }

        .post-thumbnail {
            margin-bottom: 2rem;
        }

        .post-details {
            flex-direction: column;
            max-width: 75vw;
            .post-sidebar {
                order: 2;
                width: 100%;
            }
            .post-content {
                order: 1;
                width: 100%;
                margin-bottom: 4rem;
            }
        }
        
        .horizontal-grid {
             flex-direction: column;
            article {
                width: 100%;
                margin-bottom: 4rem;
                &:last-child {
                    margin-bottom: 0;
                }
            }
         }
    }
}
.post-taxonomies {
    margin-bottom: 30px;
    a {
        @include sans_bold;
        line-height: 1.2;
        display: block;
    }
}
.post-categories {
    list-style: none;
    margin: 0;
}

.taxonomy-separator {
    display: inline-flex;
    margin-right: 10px;
}