/* 
Theme Name: Antipodes
Version: 1.0 
Description: Child theme for Storefront. 
Author: Woo
Author URI: http://woocommerce.com 
Template: storefront 
*/    

/* --------------- Theme customization starts here ----------------- */
@font-face {
    font-family: 'CF Panoptik Book';     
    src: local('CF Panoptik Book'), local('CFPanoptik-Book'),
        url('public/fonts/hinted-subset-CFPanoptik-Book.woff2') format('woff2'),
        url('public/fonts/hinted-subset-CFPanoptik-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;  
}

@font-face {
    font-family: 'CF Panoptik Book Oblique';
    src: local('CF Panoptik Book Oblique'), local('CFPanoptik-BookOblique'),
        url('public/fonts/hinted-subset-CFPanoptik-BookOblique.woff2') format('woff2'),
        url('public/fonts/hinted-subset-CFPanoptik-BookOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CF Panoptik Bold';
    src: local('CF Panoptik Bold'), local('CFPanoptik-Bold'),
        url('public/fonts/hinted-subset-CFPanoptik-Bold.woff2') format('woff2'),
        url('public/fonts/hinted-subset-CFPanoptik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CF Panoptik Bold Oblique';
    src: local('CF Panoptik Bold Oblique'), local('CFPanoptik-BoldOblique'),
        url('public/fonts/hinted-subset-CFPanoptik-BoldOblique.woff2') format('woff2'),
        url('public/fonts/hinted-subset-CFPanoptik-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

