
@media screen and (min-width: 769px) {
    .site-footer {
        background-color: transparent;
        .col-full {
            display: flex;
            align-items: center;
            max-width: 100%;
            margin-left: 3%;
            margin-right: 4%;
            .footer-data {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
            .info {
                margin-left: 30px;
                p {
                    display: inline;
                    @include sans_bold;
                    margin-bottom: 0;
                    color: black;
                }
            }
            .social-media-links {
                display: flex;
                a {
                    font-size: 19px;
                    text-decoration: none;
                    margin-left: 20px;
                }
            }
        }
    }
}
