/* Site Header */
 .site-header {
    border: none;
    .site-header-cart {
        margin-top: 20px;
        .cart-contents {
            position: relative;
            padding-top: 60px;
            font-size: 12px;
            @include sans_bold;
            text-align: center;
            .count {
                font-size: 12px;
                @include sans_bold;
                font-weight: normal;
                opacity: 1;
            }
        }
        .cart-contents::after {
            content: '';
            background-image: url('/wp-content/themes/antipodes/src/svg/icon-cart.svg');
            background-repeat: no-repeat;
            width: 52px;  
            min-height: 58px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }  
 }

@media screen and (min-width: 768px ) and (max-width: 1023px) {

}

@media screen and (min-width: 1024px) {
    .site-header {
        display: flex;  
        justify-content: space-between; 
        margin-bottom: 30px;
          
        &:before, 
        &:after {
            display: none;
        }
        .col-full {
            max-width: 100%;
            margin-left: 3%;
            margin-right: 4%;
        }
    }
}