body {
    @include sans_regular;
    margin: 0;
    padding: 0;
    background-color: #D8D8D8;  
    color: black;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

strong, 
b,
table th,
.site-branding .site-title a,
svg tspan {
    @include sans_bold;
}

em, 
i {
    @include sans_oblique;  
}

a {
    color: black;
}

a:focus, 
.button:focus, 
.button.alt:focus, 
button:focus, 
input[type="button"]:focus, 
input[type="reset"]:focus, 
input[type="submit"]:focus {
    outline-color: transparent;
}

.visually-hidden {
    position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.visibility-hidden {
    visibility: hidden;
}

/* Storefront overrides */
.site-header, 
.secondary-navigation ul ul, 
.main-navigation ul.menu > li.menu-item-has-children:after, 
.secondary-navigation ul.menu ul, 
.storefront-handheld-footer-bar, 
.storefront-handheld-footer-bar ul li > a, 
.storefront-handheld-footer-bar ul li.search .site-search, 
button.menu-toggle, button.menu-toggle:hover {
    background-color: #eeeeee;
}
.storefront-full-width-content .woocommerce-tabs .panel {
    width: 38.4%;
    float: left;
    background-color: black;
    padding: 20px;
}
.shop_attributes {
    background-color: black;
    color: white;
    margin: 0;
    > * {
        padding: 0.25em 1em;
        background-color: black;
        color: white;
    }
    th, 
    tbody td,
    tbody tr:nth-child(2n) td, 
    fieldset, 
    fieldset legend {
        background-color: black;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 20px;
        line-height: 1.6;
    }

    tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.25em;
    }
}

#page {
    max-width: 100%;
    margin: 0 auto;
    background-color: #eeeeee;
    
}

.loader {
    position: fixed;  
    top: 50%;
    left: 55%;
    transform: translate(-55%, -50%);  
    z-index: 1;  
    transform-origin: center;
    visibility: hidden;
    &.visible {
        visibility: visible;
        animation: spin 2s linear infinite;
    }
     
}

@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;  
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.site {
    overflow: hidden;
}

body,
#page, 
.site-header,
.site-footer {
    //background-color: #c7c7c7;
}

.uppercase {
    text-transform: uppercase;
}

.comma:last-child {
    display: none;
}

.flex {
    display: flex;
}

blockquote {
    p:last-child {
        margin-bottom: 0;
    }
}

img {
    border-radius: 0;
}