/* Site Navigation */

.main-navigation,
.secondary-navigation {
    ul {
        display: flex;
        justify-content: flex-end;  
        li {
            a {
                @include sans_bold;
                font-size: 24px;
                color: black;
            }
        }
    }
}

@media (min-width: 768px) {
    .main-navigation ul.menu>li>a, 
    .main-navigation ul.nav-menu>li>a {
        padding: 1.618em 15px;
    }

    .storefront-primary-navigation {
        .col-full {
            display: flex;
        }
    }
}


