@mixin sans_regular {
    font-family: 'CF Panoptik Book', sans-serif;  
}

@mixin sans_oblique {
    font-family: 'CF Panoptik Book Oblique', sans-serif;  
}

@mixin sans_bold {
    font-family: 'CF Panoptik Bold', sans-serif;  
}

@mixin sans_bold_oblique {
    font-family: 'CF Panoptik Bold Oblique', sans-serif;  
}

