/* Woocommerce Tabs */
//.single-product div.product .woocommerce-tabs
.woocommerce-tabs {
    // position: relative;
    // background-color: black;
    // padding: 0 0;
}

.storefront-full-width-content {
    .woocommerce-tabs {
        position: relative;
        display: flex;
        padding: 0 0;
        width: 460px;
        height: 410px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        .panel {
            width: auto;
            margin-bottom: 0;
            margin-left: 60px;
            &.hidden {
                visibility: hidden;
            }
        }
        ul.tabs {
            width: 60px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background-color: black;
            li {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                border-bottom: none;
                cursor: pointer;
                > * {
                    pointer-events: none;
                }
                a {
                    position: absolute;
                    width: 150px;
                    bottom: 90px;
                    transform: rotate(-90deg);
                    transform-origin: center;
                    padding: 0;
                    font-size: 20px;
                    @include sans_bold;
                    color: white;
                }
                svg {
                    margin-top: 30px;
                }
            }
        }
    }
}