

.site-footer {
    background-color: transparent;
    .col-full {
        display: flex;
        align-items: flex-start;
        max-width: 100%;
        margin-left: 4.8%;
        margin-right: 4%;
        .antipodes-logo-white {
            display: flex;
            margin-top: -6px;
        }
        .footer-data {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
        }
        .info {
            margin-left: 30px;
            @include t_14;
                h4 {
                    margin: 0;
                    @include sans_bold;
                    @include t_18;
                }
                p {
                    @include sans_regular;
                    font-size: inherit;
                    margin: 0;
                    margin-top: 0.5em;
                }
        }
        .social-media-links {
            display: flex;
            a {
                @include t_18;
                text-decoration: none;
                margin-left: 20px;
            }
        }
        #menu-footer-menu {
            display: flex;
            flex-direction: column;
            margin: 0;
            list-style-type: none;
            justify-content: space-between;
            li {
                margin-right: 20px;
                line-height: 1.2;
                a {
                    @include t_18;
                    text-decoration: none;
                    color: black;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &.beneath {
        opacity: 0;
        z-index: 1000;
    }
    &.visible {
        transition: opacity 500ms;
        opacity: 1;
    }
}

.storefront-handheld-footer-bar {
    display: none;
}

@media screen and (max-width: 960px) {
    .site-footer {
        .col-full {
            align-items: flex-start;
            flex-direction: column;
            margin-left: 8%;
            .footer-data {
                flex-direction: column;
                align-items: flex-start;
                margin-top: 1rem;
            }
            .info {
                margin-left: 0;
                margin-bottom: 20px;
            }
            .social-media-links {
                margin-top: 1rem;
                a {
                   margin-left: 0px; 
                   margin-right: 20px;
                }
            }
        }
    }
}
