/* Site Header */
.site-header {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin-bottom: 30px;
    border: none;
    padding-top: 30px;
    &:before, 
    &:after {
        display: none;
    }
    .col-full {
        max-width: 100%;
        margin-left: 80px;
        padding: 0;
        z-index: 2;
    }
    a {
        display: flex;
    }
    .site-header-cart {
        margin-top: 20px;
        .cart-contents {
            position: relative;
            display: block;
            padding-top: 60px;
            @include t_12;
            @include sans_bold;
            text-align: center;
            .count {
                @include t_12;
                @include sans_bold;
                font-weight: normal;
                opacity: 1;
            }
        }
        .cart-contents::after {
            content: '';
            background-image: url('/wp-content/themes/antipodes/src/svg/icon-cart.svg');
            background-repeat: no-repeat;
            width: 52px;  
            min-height: 58px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }  
}


@media screen and (max-width: 1280px) {
    .site-header {
        .site-header-cart {
            visibility: hidden;
        }
    }

    .menu-open {
        .site-header {
            .site-header-cart {
                margin-top: 0;
                visibility: visible;
            }
        }
    }
}

@media screen and (max-width: 595px) {
    .site-header {
        padding-top: 15px;
        padding-bottom: 1em;
    }

    .menu-open {
        .site-header {
            .site-header-cart {
                margin-top: 20px;
            }
        }
    }
}

.menu-toggle {
    display: none;
}

.site-header-cart .cart-contents::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    vertical-align: -.125em;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    line-height: inherit;
    vertical-align: baseline;
    content: "\f291";
    height: 1em;
    float: right;
    line-height: 1.618;
}

.woocommerce-active .site-header .site-header-cart {
    width: 21.7391304348%;
    float: right;
    margin-right: 0;
    margin-bottom: 0;
}



@media screen and (max-width: 1280px) {
    .site-header {
        .col-full {
            margin-left: 60px;
        }
    }
}

@media screen and (max-width: 768px) {
    .site-header {
        .col-full {
            margin-left: 25px; 
        }
    }
}

@media screen and (max-width: 595px) {
    .site-header {
        .col-full { 
            .logo-antipodes_large {
                margin-top: 0;
            }
        }
    }
}
