.logo-antipodes_large {
    max-width: 134px;
    max-height: 134px;
    margin-left: -12px;
   // margin-top: -12px;
}

@media screen and (max-width: 1280px) {
    .logo-antipodes_large {
        margin-left: 0;
    }
}

.post-type-archive-anagnoseis,
.single-anagnoseis {
    .logo-antipodes_large, 
    .logo-antipodes_small { 
        path#circle {
            fill: white;  
        }
        g {
            path {
                fill: black;
            }
        }
        &.menu-open {
           path#circle {
                fill: black;  
            }
            g {
                path {
                    fill: white;
                }
            } 
        }
    }
}

.logo-antipodes_small {
    max-width: 56px;
    max-height: 57px;
}

.icon-cart {
    max-width: 52px;
    max-height: 58px;  
}

.icon-tags {
    max-width: 22px;
    max-height: 22px;
    margin-right: 28px;
}

.icon-awards {
    max-width: 44px;
    max-height: 69px; 
    margin-right: 28px; 
}

.icon-arrow-left-black-large {
    max-width: 16px;
    max-height: 29px;
}

.icon-arrow-right-black-large {
    max-width: 16px;
    max-height: 29px;
}

.icon-arrow-right-small-black {
    max-width: 13px;
    max-height: 22px;
}

.icon-arrow-right-small-white {
    max-width: 13px;
    max-height: 22px;
}

.icon-arrow-right-white {
    max-width: 13px;
    max-height: 22px;
}

.icon-arrow-up-black {
    max-width: 22px;
    max-height: 13px;
}

.icon-close {
    max-width: 41px;
    max-height: 41px;
}

.selector-active {
    max-width: 21px;
    max-height: 21px;
}

.selector-idle {
    max-width: 21px;
    max-height: 21px;  
}

.layout-switch {
    display: flex;
    flex-direction: column;
    text-align: left;
    a {
        display: block;
    }
    svg {
        max-width: 82px;
        max-height: 82px;
    }
}

.layout-switch--thumbs {
    cursor: pointer;
    > * {
        pointer-events: none;
    }
    &.selected, 
    &:hover {
        #bg-button-thumbs {
            use#circle {
                fill: black;
                transition: fill 0.3s ease;
            }
        }
        #button-list-button-thumbs { 
            .dots {
                fill: white!important;
                transition: fill 0.3s ease;
            } 
        }
    }
}

.layout-switch--spines {
    cursor: pointer;
    > * {
        pointer-events: none;
    }
    &.selected, 
    &:hover {
        #bg-button-spines {
            use.circle {
                fill: black;
                transition: fill 0.3s ease;
            }
        }
        #icon-spines-button-spines { 
            .line path {
                fill: white!important;
                transition: fill 0.3s ease;
            } 
        }
    }
}

.layout-switch--list {
    cursor: pointer;
    > * {
        pointer-events: none;
    }
    &.selected, 
    &:hover {
        #bg-button-list {
            use.circle {
                fill: black;
                transition: fill 0.3s ease;
            }
        }
        #icon-list { 
            .line path, .circle {
                fill: white!important;
                transition: fill 0.3s ease;
            } 
        }
    }
}


@media screen and (max-width: 595px) {
    .logo-antipodes_large {
        max-width: 80px;
        max-height: 80px;
    } 
}

// #✱-/-Color-/-Icons-/-Black-/-Active {

// }
