 $new_body_bg: #e1e1e1;

body {
    @include sans_regular;
    margin: 0;
    padding: 0;
    background-color: $body_bg; 
    background-color: $new_body_bg; 
    color: black;
    height: 100%;
    &.overlay-open {
        overflow: hidden;
        // padding-right: 0.5em;
        // position: fixed;
        // width: 100vw;
    }
}

body::-webkit-scrollbar {
    width: .5em;
}
body::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

body.home {
    overflow-y: hidden;
}


html, body {
    height: 100%;
    font-size: 16px;

    @media screen and (max-width: 594px) {
        font-size: 16px;
    }

    @media screen and (min-width: 595px) {
        font-size: 18px;
    }

    @media screen and (min-width: 960px) {
        font-size: 20px;
    }
    
    @media screen and (min-width: 1280px) {
        font-size: 22px;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

strong, 
b,
table th,
.site-branding .site-title a,
svg tspan {
    @include sans_bold;
}

em, 
i {
    @include sans_oblique;  
}

a {
    color: black;
}

a:focus, 
.button:focus, 
.button.alt:focus, 
button:focus, 
input[type="button"]:focus, 
input[type="reset"]:focus, 
input[type="submit"]:focus {
    outline-color: transparent;
}

input:focus, textarea:focus {
    outline: 1px solid #000000;
}

ins, mark {
    @include sans_bold;
    font-weight: normal;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid black;
  -webkit-text-fill-color: black;  
  -webkit-box-shadow: 0 0 0px 1000px lightyellow inset;
  transition: background-color 5000s ease-in-out 0s;
  @include t_20;
  @include sans_bold;
}

.visually-hidden {
    position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.visibility-hidden {
    visibility: hidden;
}

.no-pointer-events {
    pointer-events: none;
}

.none {
    display: none;
}

/* Storefront overrides */
.site-header, 
.secondary-navigation ul ul, 
.main-navigation ul.menu > li.menu-item-has-children:after, 
.secondary-navigation ul.menu ul, 
.storefront-handheld-footer-bar, 
.storefront-handheld-footer-bar ul li > a, 
.storefront-handheld-footer-bar ul li.search .site-search, 
button.menu-toggle, button.menu-toggle:hover {
    background-color: $body_bg;
    background-color: $new_body_bg;
}
.storefront-full-width-content .woocommerce-tabs .panel {
    width: 38.4%;
    float: left;
    background-color: black;
    padding: 20px;
}
.shop_attributes {
    background-color: black;
    color: white;
    margin: 0;
    > * {
        padding: 0.25em 1em;
        background-color: black;
        color: white;
    }
    th, 
    tbody td,
    tbody tr:nth-child(2n) td, 
    fieldset, 
    fieldset legend {
        background-color: black;
        padding-top: 0;
        padding-bottom: 0;
        @include t_20;
        line-height: 1.6;
    }

    tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.25em;
    }
}

.site, .fetch-container {
    max-width: 100%;
    margin: 0 auto;
    background-color: $body_bg;
    background-color: $new_body_bg;
    
}

.loader, 
.loader--home {
    position: fixed;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    transform-origin: center;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s 2s, opacity 1s linear;
    z-index: 1001;
    &.visible {
        opacity: 1;
        visibility: visible;
    } 
    .el {
        animation: afill 2.5s infinite linear;
        animation-fill-mode: forwards; 
    }
    .el-1 {
        animation-delay: 0s;
    }
    .el-2 {
        animation-delay: 0.25s;
    }
    .el-3 {
        animation-delay: 0.5s;
    }
    .el-4 {
        animation-delay: 1s;
    }
    .el-5 {
        animation-delay: 1.25s; 
    }
    .el-6 { 
        animation-delay: 1.5s;
    }

    .el-7 { 
        animation-delay: 1.75s;
    }

    .el-8 {
        animation-delay: 2s;
    }

    .el-9 {
        animation-delay: 2.25s;
    }
}

@keyframes afill {
    0%   { 
        fill: #000000;  /* Firefox 16+, IE 10+, Opera */
    }
    50% {
        fill: #ccc;
    }
    100% {
        fill: #ffffff;  /* Firefox 16+, IE 10+, Opera */
    }
}

// .loader {
//     position: fixed;  
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);    
//     z-index: 1;  
//     transform-origin: center;
//     visibility: hidden;
//     &.visible {
//         visibility: visible;
//         animation: spin 3s linear infinite;
        
//     } 
// }

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;  
    transform-style: preserve-3d;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.site, .fetch-container {
    overflow: hidden;
}

body,
.site, 
.site-header,
.site-footer {
    //background-color: #c7c7c7;
}

.uppercase {
    text-transform: uppercase;
}

.comma:last-child {
    display: none;
}

.flex {
    display: flex;
}

blockquote {
    p:last-child {
        margin-bottom: 0;
    }
}

img {
    border-radius: 0;
}

.arrow-link {
    display: flex;
    align-items: center;
    svg {
        margin-left: 19px;
        margin-top: 4px;
    }
}

a.colored {
    color: $red!important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.lined-heading {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 72px;
    margin-bottom: 25px;
    .line {
        width: calc(38% - 28px);  
        height: 4px;
        background-color: black;
    }
    .text {
        @include sans_bold;
        @include t_28;
        margin-left: 28px;
    }
}

@media (max-width: 768px) {
    .lined-heading {
        .line {
            width: calc(32% - 28px);  
        }
    }
}

@media (max-width: 595px) {
    .lined-heading {
        .line {
            width: calc(28% - 28px);  
        }
    }
}

.custom-image {
    &__container {
        position: relative;
    }
    &__inner  {
        position: absolute;
        left: 0;
        img {
            margin: 0!important;
        }
    }
}

@media (max-width: 1280px) {
    .site-content {
        margin-top: 205px;
    }

    .home .site-content {
        margin-top: 0;
    }
}

@media (max-width: 595px) {
    .site-content {
        margin-top: 145px;
    }
}

.hentry {
    margin: 0;
}

.tippy-tooltip, .tooltip {
  font-size: 13px;
  svg {
      pointer-events: none;
  }
}


.site-content .woocommerce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .woocommerce-message {
        font-size: 16px;
        width: auto;
        background-color: lightgray;
        color: black;
        .button, a {
            @include sans_bold;
            color: black;
            &:hover {
                color: black;
            }
            
        }
    }
}

.woocommerce-cart {
    .site-main .woocommerce {
        align-items: initial;
    }
}

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"], 
.button, 
.widget a.button {
    background-color: transparent;
    border-color: transparent;
    color: inherit;
    @include t_16;
    @include sans_bold;
}

.shop_table,
.return-to-shop {
    button, .button {
        background-color: black;
        color: white;
    }
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 1000;
    color: black;
    @include sans_bold;
    &[aria-hidden=true] {
        opacity: 0;
        z-index: -1;
    }
    &.visible {
        opacity: 1;  
    }  
    .no-js & {
        opacity: 0;
        z-index: -1;  
    }   
    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 13px;
        }
    }
}


#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    margin: 0px 0 0 -40px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: black;
    border-left-color: black;
    border-right-color: black;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out; 
            transition: all 0.3s ease-out;
}
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.3s 0.3s ease-out; 
            transition: all 0.3s 0.3s ease-out;
}


.load-cart-icon {
    background-image: url('/wp-content/themes/antipodes/src/svg/icon-cart.svg');
}

.load-search-form-close-icon {
        background-image: url('/wp-content/themes/antipodes/public/svg/close-button.svg');
    }

a.book__spine-image picture {
    display: inline-block;
    pointer-events: none;
}

a:not(.button) {
    text-underline-position: under;    
}

.hentry .entry-content a:not(.button):hover {
    text-underline-position: under;
}

.woocommerce-product-gallery__wrapper {
    a {
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 768px) {
    .woocommerce-product-gallery__wrapper {
        a {
            justify-content: flex-start;
        }
    }
}