/* Site Navigation */
.main-navigation,
.secondary-navigation {
    display: block!important;
    ul {
        display: flex;
        justify-content: flex-end;  
        li {
            a {
                @include sans_bold;
                @include t_24;
                color: black;
            }
        }
    }
}

//MS EDGE
@supports (-ms-ime-align:auto) {
    .main-navigation,
    .secondary-navigation {
        display: flex!important;
        justify-content: flex-end;
    }
}

.main-navigation {
    z-index: 2;
}

.storefront-primary-navigation {
    max-width: 80%;
    z-index: 1;
    &.hidden {
        opacity: 0;
    }
    &.visible {
        transition: opacity 500ms;
        opacity: 1;
    }
}

/* IE11 */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
    .storefront-primary-navigation {
        float: left;
        overflow: hidden;
        
    }
}


@media (min-width: 1280px) {
    .main-navigation ul.menu>li>a, 
    .main-navigation ul.nav-menu>li>a {  
        padding: 1.618em 15px;
    }

    .storefront-primary-navigation {
        .col-full {
            display: flex;
        }
    }
}

@media screen and (min-width: 768px ) and (max-width: 1280px) {
    .main-navigation ul.menu>li>a, 
    .main-navigation ul.nav-menu>li>a {
        padding: 0;
    }
}


.main-navigation ul.menu, 
.main-navigation ul.nav-menu {
    max-height: none;
    overflow: visible;
    margin-left: -1em;
}

.primary-navigation {
    display: block!important;
}

.mobile-menu-trigger {
    display: none;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 65px;
    right: 8.2%;
    transform: translate(100%);
    background: transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
    z-index: 8;
    padding: 0;
    &:hover {
        background-color: transparent;
    }
}


.home .mobile-menu-trigger {
    display: block;
}

.mobile-menu-trigger .part:first-child {
    top: 19px;
    left: 16px;
    transform-origin: 0 50%;
}
.mobile-menu-trigger .part:nth-child(2) {
    background-color: #333;
    top: 29px;
    left: 23px;
    transform-origin: 50% 50%;
}

.home {
    .mobile-menu-trigger .part:nth-child(2) {
        background-color: #ccc;
    }
}

.mobile-menu-trigger .part:nth-child(3) {
    top: 38px;
    left: 16px;
    transform-origin: 100% 50%;
}

.mobile-menu-trigger .part {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 22px;
    height: 4px;
    transition: transform .6s cubic-bezier(.165,.84,.44,1);
}

.home,
.post-type-archive-anagnoseis,
.single-anagnoseis {
    .mobile-menu-trigger .part {
        background-color: white; 
    }
}

@media (max-width: 1280px) {
    .mobile-menu-trigger {
        display: block;
        right: 106px;
        // top: 66px;
    }

    .menu-open #masthead {
        position: fixed;
    }
}

@media (max-width: 1024px) {

    .home {
         .mobile-menu-trigger .part:nth-child(2) {
            background-color: #333;
        }
        .mobile-menu-trigger .part {
            background-color: black; 
        }
    }

    .main-navigation div.menu:last-child {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .mobile-menu-trigger {
        right: 72px;
        // top: 56px;
    }
}

@media screen and (max-width: 595px) {
    .mobile-menu-trigger {
        right: 65px;
        top: 25px;
    }
}

.menu-mobile-opened .mobile-menu-trigger .part:first-child {
    transform: translate(2px) rotate(45deg) translate(2px,1px);
}

.menu-mobile-opened .mobile-menu-trigger .part:nth-child(2) {
    transform: translate(-7px) rotate(-45deg);
}

.menu-mobile-opened .mobile-menu-trigger .part:nth-child(3) {
    transform: translate(2px) rotate(45deg) translate(-5px,3px);
}

.menu-mobile-opened {
    .logo-antipodes_large {
        // clip-path: circle(50%);
    }
    .site-header-cart {
        margin-top: 20px
    }
}

.mobile-menu-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $body_bg;
    background-color: lighten($body_bg, 5%);
    transform-origin: 0 50%;
    transform: scaleX(0);
    z-index: 5;
}

.menu-mobile-opened .mobile-menu-background {
    transform-origin: 100% 50%;
    transform: scaleX(1);
}





