@mixin sans_regular {
    font-family: 'CF Panoptik Book', sans-serif;  
}

@mixin sans_oblique {
    font-family: 'CF Panoptik Book Oblique', sans-serif;  
}

@mixin sans_bold {
    font-family: 'CF Panoptik Bold', sans-serif;  
}

@mixin sans_bold_oblique {
    font-family: 'CF Panoptik Bold Oblique', sans-serif;  
}

@mixin t_72 {
    font-size: 3.272727272727273rem; //36px
}

@mixin t_38 {
    font-size: 1.7272727272727273rem; //36px
}

@mixin large_heading {
    @include sans_bold;
    font-size: 1.636365rem; //36px
    line-height: 1.1;
}

@mixin t_36 {
    font-size: 1.636365rem; //36px
}

@mixin t_34 {
    font-size: 1.5454545454545454rem;  
}

@mixin t_30 {
    font-size: 1.3636363636363635rem;  
}

@mixin t_28 {
    font-size: 1.272725rem;  
}

@mixin t_26 {
    font-size: 1.18182rem; 
}

@mixin t_24 {
    font-size: 1.09091rem; //24px
    line-height: 1.4;
}

@mixin paragraph {
    font-size: 1rem; //22px
    line-height: 1.4;
}

@mixin t_22 {
    font-size: 1rem; //22px
    line-height: 1.4;
}

@mixin t_20 {
    font-size: 0.90909rem; //20px
}

@mixin t_18 {
    font-size: 0.81818rem; //18px
}

@mixin tb_18 {
    @include sans_bold;
    font-size: 0.81818rem; //18px
}

@mixin t_16 {
    font-size: 0.75rem; //16px
}

@mixin t_14 {
    font-size: 0.636365rem; //14px
    line-height: 1.1;
}

@mixin t_12 {
    font-size: 0.5454545454545454rem; //14px
}




