/* Woocommerce Tabs */
//.single-product div.product .woocommerce-tabs
.woocommerce-tabs {
    // position: relative;
    // background-color: black;
    // padding: 0 0;
}

.storefront-full-width-content {
    .woocommerce-tabs {
        position: relative;
        display: flex;
        padding: 0 0;
        margin-top: 1px;
        width: 460px;
        position: absolute;
        top: 0;
        transform: translateY(0);
        z-index: 1;
        .panel {
            width: auto;
            margin-bottom: 0;
            margin-left: 60px;
            transform: translate(0, 0);
            transition: transform 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
            z-index: 0;
            &.hidden {
                z-index: -1;
                transform: translate(-100%, 0);
                transition: transform 0.6s cubic-bezier(0.895, 0.030, 0.685, 0.220);
            }
            .shop_attributes {
                th, td {
                    @include t_16;
                    line-height: 1.5;
                }
            }
        }
        ul.tabs {
            width: 60px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background-color: black;
            li {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                border-bottom: none;
                cursor: pointer;
                z-index: 1;
                background-color: black;
                > * {
                    pointer-events: none;
                }
                a {
                    position: absolute;
                    width: 150px;
                    bottom: 90px;
                    transform: rotate(-90deg);
                    transform-origin: center;
                    padding: 0;
                    @include t_20;
                    @include sans_bold;
                    color: white;
                }
                svg {
                    margin-top: 30px;
                    transition: transform 0.2s ease;
                    &.rotated {
                        transform: rotate(180deg);
                        transform-origin: center;
                        transition: transform 0.2s ease;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {

}

@media (max-width: 595px) {
    .storefront-full-width-content {
        .woocommerce-tabs {
            margin-top: 1px;
            ul.tabs {
                width: 40px;
            }
            .panel {
                margin-left: 40px;
            }
        }
    }
}