.post-type-archive-product,
.tax-product_cat {
    .site-main {
        position: relative;
        display: flex;
        justify-content: flex-end;
    }  
    .woocommerce-products-header {
        position: absolute;
        left: 1.55%;
        display: flex;
        align-content: center;
        .sorting-menu {
            margin-left: 16px;
            h3 {
                font-size: 18px;
                @include sans_bold;
                text-align: left;
            }
        }
        .sorting-options {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: left;
            a {
                color: #999;
                &.selected {
                    color: black;  
                }
            }
        }
        .book-layout-menu {
            .layout-switch {
                margin-bottom: 50px;
                a {
                    text-align: left;
                }
            } 
        }
    }
    .col-full {
        max-width: 100%;
        margin-left: 3%;
        margin-right: 4%;
    }
    .products-list {
        margin-left: 14%;
        width: 75%;
    }
    .products {
        margin-left: 5%;
        margin-top: 32px;  
        &:before {
            display: none;
        }
        &.list-layout, 
        &[data-layout="list-layout"] {
            margin-top: 26px;   
            li {
                float: none!important;  
                width: 100%!important;
                text-align: left;
                margin-right: 0;
                margin-bottom: 0;
            }
            .woocommerce-loop-product__link img,
            .woocommerce-loop-product__title,
            .book__spine-image,
            .post-thumbnail__container,
            .woocommerce-placeholder,
            a.book__spine-image,
            .book__spine-details {
                display: none;
            }
            .book__details {
                display: flex;
                margin-bottom: 30px;
                > * {
                    font-size: 24px;
                    color: black;
                    margin-bottom: 0;
                }
                .book__title {
                    width: 51%;
                    margin-right: 30px;
                    @include sans_bold();
                }
                .book__author {
                    width: 42%;
                }
                .book__first-edition {
                    width: 7%;
                    text-align: right;
                }
            }
        }
        &.spines-layout, 
        &[data-layout="spines-layout"] { 
            margin-top: 5px;
            li {
                float: none!important;
                width: 100%!important;
                text-align: left;
                margin-right: 0;
                margin-bottom: 0;
                display: flex;
                justify-content: flex-end;
            }
            .woocommerce-loop-product__link img,
            .woocommerce-loop-product__title,
            .book__details,
            .post-thumbnail__container,
            .woocommerce-placeholder {
                display: none;
            }
            .row {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
            a.book__spine-image {
                display: block;
                margin-top: 25px;
                &:first-child {
                    margin-top: 0;
                }
                > * {
                    pointer-events: none;
                }
                img {
                    margin-bottom: 0;
                }
            }
            .book__spine-details {
                display: flex;
                justify-content: space-between;
                margin-top: 2px;
                overflow: hidden;
                background-color: white;
                transition: height 0.2s linear;
                height: 0;
                padding: 0 33px;
                backface-visibility: hidden;
                will-change: height;
                &.open {
                    padding: 25px 33px 25px 33px;
                    transition: height 0.25s ease;
                }
                &.transitioning {
                    padding: 25px 33px 25px 33px;
                }
                figure {
                    margin-right: 11%;
                    margin-bottom: 25px;
                    height: 100%;
                }
                img {
                    max-width: 262px;
                    margin-bottom: 0;
                    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
                }
                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p {
                        font-size: 18px;
                    }
                    a {
                    font-size: 21px; 
                    color: black;
                    }
                }
            }
        }
        &.thumbs-layout, 
        &[data-layout="thumbs-layout"] { 
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;   
            li.product {
                margin-bottom: 0;
                margin-right: 3%!important;
                width: 31.3%!important;
                &:last-child, &.last {
                   margin-right: 0!important; 
                }
            }
            .woocommerce-loop-product__link img,
            .woocommerce-loop-product__title,
            .book__details,
            .book__spine-image,
             a.book__spine-image,
            .book__spine-details {
                display: none;
            }
        }
        .product {
            img {
                margin: 0;
                margin-bottom: 1.618em;
            }
            .woocommerce-placeholder {
                height: 414px;
            }
        }
    }
    .price, .add_to_cart_button {
        display: none!important;
    }
    .storefront-sorting {
        margin-left: 5%;
    }
    .woocommerce-ordering {
        display: none;
    }
}