.single-product {
    .product_title {
        @include sans_bold;
        font-size: 36px;
        margin-bottom: 0;
    }

    .book {
        &__author {
            font-size: 36px;
            .gender-pronoun {
                @include sans_regular;
            }
            a {
                @include sans_bold;
                color: #EA0000;
            }
        }
        &__translators {
            @include sans_regular;
            font-size: 19px;
            border-top: 0;
            padding: 0;
            margin-top: 15px;
            margin-bottom: 11px;
        }
        &__posted_in {
            display: flex;
            margin-bottom: 22px;
            margin-left: -5px;
            font-size: 19px;
            a {
                color: black;
                padding-left: 5px;
            }
        }  
    }

    .entry-summary {
        margin-bottom: 0!important;
        p {
            font-size: 26px;
            line-height: 1.2;
        }
    }

    table.variations {
        display: none;
    }

    .single_variation_wrap {
        display: flex;
        align-items: center;
        button {
            padding: 0;
            &:hover {
                background-color: transparent;
                border-color: transparent;
                color: inherit;
            }
            &.button--read-sample {
                &:hover {
                    g#bg-button-read_sample {
                        use {
                            fill: #000000;
                        }
                    }
                }
            }
            &.button--favorite-idle {
                &:hover {
                    g#bg {
                        use {
                            fill: #000000;
                        }
                    }
                }
            }
        }
    }

    //cart button
    .single_add_to_cart_button {
        
    }

    div.product .variations_button {
        padding-top: 0;
    }

    .site-content {
        .col-full {
            max-width: 100%;
            padding: 0;
            margin: 0;
        }
    }
    
    .product-top {
        position: relative;
        max-width: 100%;
        overflow: hidden;
        &__inner {
            max-width: 75vw;
            margin: 0 auto;
            z-index: 1;
        }
        &__divider {
            height: 3px;
            background-color: #bbbbbb;
            margin-bottom: 40px;
        }
    }

    .col-custom {
        max-width: 75vw;
        margin: 0 auto;
        display: flex;
    }

    .col-constrained {
        max-width: 75vw;
        margin: 0 auto;
        display: flex;
        .left {
            margin-right: 4.347826087%;
           width: 39.1304347826%;
        }
        .right {
            width: 56.5217391304%;
        }
    }

    .lined-heading {
        position: relative;
        //text-align: center;
        display: flex;
        align-items: center;
        margin-top: 72px;
        margin-bottom: 25px;
        .line {
            width: calc(38% - 28px);  
            height: 4px;
            background-color: black;
        }
        .text {
            @include sans_bold;
            font-size: 28px;
            margin-left: 28px;
        }
    }

    .award {
        @include sans_bold;
        margin-bottom: 6px;
    }

    .tags-awards {
        .left .row {
            margin-left: 10px;
            margin-top: -4px;
            a {
                font-size: 16px;
            }
        }
        .book__posted_in {
            display: flex;
            flex-direction: column;
        }
    }
    
}