/* 
Theme Name: Antipodes
Version: 1.0 
Description: Child theme for Storefront. 
Author: Woo
Author URI: http://woocommerce.com 
Template: storefront 
*/
/* --------------- Theme customization starts here ----------------- */
@font-face {
  font-family: 'CF Panoptik Book';
  src: local("CF Panoptik Book"), local("CFPanoptik-Book"), url("public/fonts/hinted-subset-CFPanoptik-Book.woff2") format("woff2"), url("public/fonts/hinted-subset-CFPanoptik-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'CF Panoptik Book Oblique';
  src: local("CF Panoptik Book Oblique"), local("CFPanoptik-BookOblique"), url("public/fonts/hinted-subset-CFPanoptik-BookOblique.woff2") format("woff2"), url("public/fonts/hinted-subset-CFPanoptik-BookOblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'CF Panoptik Bold';
  src: local("CF Panoptik Bold"), local("CFPanoptik-Bold"), url("public/fonts/hinted-subset-CFPanoptik-Bold.woff2") format("woff2"), url("public/fonts/hinted-subset-CFPanoptik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CF Panoptik Bold Oblique';
  src: local("CF Panoptik Bold Oblique"), local("CFPanoptik-BoldOblique"), url("public/fonts/hinted-subset-CFPanoptik-BoldOblique.woff2") format("woff2"), url("public/fonts/hinted-subset-CFPanoptik-BoldOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: 'CF Panoptik Book', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #D8D8D8;
  color: black;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

strong,
b,
table th,
.site-branding .site-title a,
svg tspan {
  font-family: 'CF Panoptik Bold', sans-serif;
}

em,
i {
  font-family: 'CF Panoptik Book Oblique', sans-serif;
}

a {
  color: black;
}

a:focus,
.button:focus,
.button.alt:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline-color: transparent;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.visibility-hidden {
  visibility: hidden;
}

/* Storefront overrides */
.site-header,
.secondary-navigation ul ul,
.main-navigation ul.menu > li.menu-item-has-children:after,
.secondary-navigation ul.menu ul,
.storefront-handheld-footer-bar,
.storefront-handheld-footer-bar ul li > a,
.storefront-handheld-footer-bar ul li.search .site-search,
button.menu-toggle, button.menu-toggle:hover {
  background-color: #eeeeee;
}

.storefront-full-width-content .woocommerce-tabs .panel {
  width: 38.4%;
  float: left;
  background-color: black;
  padding: 20px;
}

.shop_attributes {
  background-color: black;
  color: white;
  margin: 0;
}

.shop_attributes > * {
  padding: 0.25em 1em;
  background-color: black;
  color: white;
}

.shop_attributes th,
.shop_attributes tbody td,
.shop_attributes tbody tr:nth-child(2n) td,
.shop_attributes fieldset,
.shop_attributes fieldset legend {
  background-color: black;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 20px;
  line-height: 1.6;
}

.shop_attributes tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.25em;
}

#page {
  max-width: 100%;
  margin: 0 auto;
  background-color: #eeeeee;
}

.loader {
  position: fixed;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-55%, -50%);
          transform: translate(-55%, -50%);
  z-index: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
  visibility: hidden;
}

.loader.visible {
  visibility: visible;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

.fade-in {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.site {
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.comma:last-child {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

blockquote p:last-child {
  margin-bottom: 0;
}

img {
  border-radius: 0;
}

.arrow-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.arrow-link svg {
  margin-left: 19px;
  margin-top: 4px;
}

a.colored {
  color: #EA0000 !important;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.lined-heading {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin-top: 72px;
  margin-bottom: 25px;
}

.lined-heading .line {
  width: calc(38% - 28px);
  height: 4px;
  background-color: black;
}

.lined-heading .text {
  font-family: 'CF Panoptik Bold', sans-serif;
  font-size: 28px;
  margin-left: 28px;
}

.custom-image__container {
  position: relative;
}

.custom-image__inner {
  position: absolute;
  left: 0;
}

.custom-image__inner img {
  margin: 0 !important;
}

.logo-antipodes_large {
  max-width: 134px;
  max-height: 134px;
}

.logo-antipodes_small {
  max-width: 56px;
  max-height: 57px;
}

.icon-cart {
  max-width: 52px;
  max-height: 58px;
}

.icon-tags {
  max-width: 22px;
  max-height: 22px;
}

.icon-awards {
  max-width: 44px;
  max-height: 69px;
  margin-right: 28px;
}

.icon-arrow-left-black-large {
  max-width: 16px;
  max-height: 29px;
}

.icon-arrow-right-black-large {
  max-width: 16px;
  max-height: 29px;
}

.icon-arrow-right-small-black {
  max-width: 13px;
  max-height: 22px;
}

.icon-arrow-right-small-white {
  max-width: 13px;
  max-height: 22px;
}

.icon-arrow-right-white {
  max-width: 13px;
  max-height: 22px;
}

.icon-arrow-up-black {
  max-width: 22px;
  max-height: 13px;
}

.icon-close {
  max-width: 41px;
  max-height: 41px;
}

.selector-active {
  max-width: 21px;
  max-height: 21px;
}

.selector-idle {
  max-width: 21px;
  max-height: 21px;
}

.layout-switch {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.layout-switch a {
  display: block;
}

.layout-switch svg {
  max-width: 82px;
  max-height: 82px;
}

.layout-switch--thumbs {
  cursor: pointer;
}

.layout-switch--thumbs > * {
  pointer-events: none;
}

.layout-switch--thumbs.selected #bg-button-thumbs use#circle, .layout-switch--thumbs:hover #bg-button-thumbs use#circle {
  fill: black;
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.layout-switch--thumbs.selected #button-list-button-thumbs .dots, .layout-switch--thumbs:hover #button-list-button-thumbs .dots {
  fill: white !important;
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.layout-switch--spines {
  cursor: pointer;
}

.layout-switch--spines > * {
  pointer-events: none;
}

.layout-switch--spines.selected #bg-button-spines use.circle, .layout-switch--spines:hover #bg-button-spines use.circle {
  fill: black;
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.layout-switch--spines.selected #icon-spines-button-spines .line path, .layout-switch--spines:hover #icon-spines-button-spines .line path {
  fill: white !important;
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.layout-switch--list {
  cursor: pointer;
}

.layout-switch--list > * {
  pointer-events: none;
}

.layout-switch--list.selected #bg-button-list use.circle, .layout-switch--list:hover #bg-button-list use.circle {
  fill: black;
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.layout-switch--list.selected #icon-list .line path, .layout-switch--list.selected #icon-list .circle, .layout-switch--list:hover #icon-list .line path, .layout-switch--list:hover #icon-list .circle {
  fill: white !important;
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

/* Site Header */
.site-header {
  border: none;
}

.site-header .site-header-cart {
  margin-top: 20px;
}

.site-header .site-header-cart .cart-contents {
  position: relative;
  padding-top: 60px;
  font-size: 12px;
  font-family: 'CF Panoptik Bold', sans-serif;
  text-align: center;
}

.site-header .site-header-cart .cart-contents .count {
  font-size: 12px;
  font-family: 'CF Panoptik Bold', sans-serif;
  font-weight: normal;
  opacity: 1;
}

.site-header .site-header-cart .cart-contents::after {
  content: '';
  background-image: url("/wp-content/themes/antipodes/src/svg/icon-cart.svg");
  background-repeat: no-repeat;
  width: 52px;
  min-height: 58px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 1024px) {
  .site-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    margin-bottom: 30px;
  }
  .site-header:before, .site-header:after {
    display: none;
  }
  .site-header .col-full {
    max-width: 100%;
    margin-left: 3%;
    margin-right: 4%;
  }
}

/* Site Navigation */
.main-navigation ul,
.secondary-navigation ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
}

.main-navigation ul li a,
.secondary-navigation ul li a {
  font-family: 'CF Panoptik Bold', sans-serif;
  font-size: 24px;
  color: black;
}

@media (min-width: 768px) {
  .main-navigation ul.menu > li > a,
  .main-navigation ul.nav-menu > li > a {
    padding: 1.618em 15px;
  }
  .storefront-primary-navigation .col-full {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
}

/* Woocommerce Tabs */
.storefront-full-width-content .woocommerce-tabs {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 0 0;
  margin-top: 10px;
  width: 460px;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.storefront-full-width-content .woocommerce-tabs .panel {
  width: auto;
  margin-bottom: 0;
  margin-left: 60px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  z-index: 0;
}

.storefront-full-width-content .woocommerce-tabs .panel.hidden {
  z-index: -1;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.storefront-full-width-content .woocommerce-tabs .panel .shop_attributes th, .storefront-full-width-content .woocommerce-tabs .panel .shop_attributes td {
  font-size: 16px;
}

.storefront-full-width-content .woocommerce-tabs ul.tabs {
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
          align-items: flex-end;
  background-color: black;
}

.storefront-full-width-content .woocommerce-tabs ul.tabs li {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  border-bottom: none;
  cursor: pointer;
  z-index: 1;
  background-color: black;
}

.storefront-full-width-content .woocommerce-tabs ul.tabs li > * {
  pointer-events: none;
}

.storefront-full-width-content .woocommerce-tabs ul.tabs li a {
  position: absolute;
  width: 150px;
  bottom: 90px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  padding: 0;
  font-size: 20px;
  font-family: 'CF Panoptik Bold', sans-serif;
  color: white;
}

.storefront-full-width-content .woocommerce-tabs ul.tabs li svg {
  margin-top: 30px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.storefront-full-width-content .woocommerce-tabs ul.tabs li svg.rotated {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.single-product .product_title {
  font-family: 'CF Panoptik Bold', sans-serif;
  font-size: 36px;
  margin-bottom: 0;
}

.single-product .book__author {
  font-size: 36px;
}

.single-product .book__author .gender-pronoun {
  font-family: 'CF Panoptik Book', sans-serif;
}

.single-product .book__author a {
  font-family: 'CF Panoptik Bold', sans-serif;
  color: #EA0000;
}

.single-product .book__translators {
  font-family: 'CF Panoptik Book', sans-serif;
  font-size: 19px;
  border-top: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 11px;
}

.single-product .book__posted_in {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 22px;
  margin-left: -5px;
  font-size: 19px;
}

.single-product .book__posted_in a {
  color: black;
  padding-left: 5px;
}

.single-product .custom-image__container {
  width: 74%;
  position: relative;
}

.single-product .custom-image__inner {
  position: absolute;
  top: 0;
  left: 0;
}

.single-product .entry-summary {
  margin-bottom: 0 !important;
  z-index: 1;
}

.single-product .entry-summary p {
  font-size: 26px;
  line-height: 1.2;
}

.single-product table.variations {
  display: none;
}

.single-product .single_variation_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.single-product .single_variation_wrap button {
  padding: 0;
}

.single-product .single_variation_wrap button:hover {
  background-color: transparent;
  border-color: transparent;
  color: inherit;
}

.single-product .single_variation_wrap button.button--read-sample:hover g#bg-button-read_sample use {
  fill: #000000;
}

.single-product .single_variation_wrap button.button--favorite-idle:hover g#bg use {
  fill: #000000;
}

.single-product div.product .variations_button {
  padding-top: 0;
}

.single-product .site-content .col-full {
  max-width: 1920px;
  margin: 0;
  padding: 0;
}

.single-product .product-top {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.single-product .product-top__inner {
  max-width: 75vw;
  margin: 0 auto;
  z-index: 1;
}

.single-product .product-top__divider {
  height: 3px;
  background-color: #bbbbbb;
  margin-bottom: 40px;
}

.single-product .col-custom {
  max-width: 75vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.single-product .col-constrained {
  max-width: 75vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.single-product .col-constrained .left {
  margin-right: 4.347826087%;
  width: 39.1304347826%;
}

.single-product .col-constrained .right {
  width: 56.5217391304%;
}

.single-product .lined-heading {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin-top: 72px;
  margin-bottom: 25px;
}

.single-product .lined-heading .line {
  width: calc(38% - 28px);
  height: 4px;
  background-color: black;
}

.single-product .lined-heading .text {
  font-family: 'CF Panoptik Bold', sans-serif;
  font-size: 28px;
  margin-left: 28px;
}

.single-product .award {
  font-family: 'CF Panoptik Bold', sans-serif;
  margin-bottom: 6px;
}

.single-product .tags-awards .left .row {
  margin-left: 10px;
  margin-top: -4px;
}

.single-product .tags-awards .left .row a {
  font-size: 16px;
}

.single-product .tags-awards .book__posted_in {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
}

.post-type-archive-product .site-main,
.tax-product_cat .site-main {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
}

.post-type-archive-product .woocommerce-products-header,
.tax-product_cat .woocommerce-products-header {
  position: absolute;
  left: 1.55%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
          align-content: center;
}

.post-type-archive-product .woocommerce-products-header .sorting-menu,
.tax-product_cat .woocommerce-products-header .sorting-menu {
  margin-left: 16px;
}

.post-type-archive-product .woocommerce-products-header .sorting-menu h3,
.tax-product_cat .woocommerce-products-header .sorting-menu h3 {
  font-size: 18px;
  font-family: 'CF Panoptik Bold', sans-serif;
  text-align: left;
}

.post-type-archive-product .woocommerce-products-header .sorting-options,
.tax-product_cat .woocommerce-products-header .sorting-options {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.post-type-archive-product .woocommerce-products-header .sorting-options a,
.tax-product_cat .woocommerce-products-header .sorting-options a {
  color: #999;
}

.post-type-archive-product .woocommerce-products-header .sorting-options a.selected,
.tax-product_cat .woocommerce-products-header .sorting-options a.selected {
  color: black;
}

.post-type-archive-product .woocommerce-products-header .book-layout-menu .layout-switch,
.tax-product_cat .woocommerce-products-header .book-layout-menu .layout-switch {
  margin-bottom: 50px;
}

.post-type-archive-product .woocommerce-products-header .book-layout-menu .layout-switch a,
.tax-product_cat .woocommerce-products-header .book-layout-menu .layout-switch a {
  text-align: left;
}

.post-type-archive-product .col-full,
.tax-product_cat .col-full {
  max-width: 1920px;
  margin-left: 3%;
  margin-right: 4%;
}

.post-type-archive-product .products-list,
.tax-product_cat .products-list {
  margin-left: 14%;
  width: 75%;
}

.post-type-archive-product .products,
.tax-product_cat .products {
  margin-left: 5%;
  margin-top: 32px;
}

.post-type-archive-product .products:before,
.tax-product_cat .products:before {
  display: none;
}

.post-type-archive-product .products.list-layout, .post-type-archive-product .products[data-layout="list-layout"],
.tax-product_cat .products.list-layout,
.tax-product_cat .products[data-layout="list-layout"] {
  margin-top: 26px;
}

.post-type-archive-product .products.list-layout li, .post-type-archive-product .products[data-layout="list-layout"] li,
.tax-product_cat .products.list-layout li,
.tax-product_cat .products[data-layout="list-layout"] li {
  float: none !important;
  width: 100% !important;
  text-align: left;
  margin-right: 0;
  margin-bottom: 0;
}

.post-type-archive-product .products.list-layout .woocommerce-loop-product__link img,
.post-type-archive-product .products.list-layout .woocommerce-loop-product__title,
.post-type-archive-product .products.list-layout .book__spine-image,
.post-type-archive-product .products.list-layout .post-thumbnail__container,
.post-type-archive-product .products.list-layout .woocommerce-placeholder,
.post-type-archive-product .products.list-layout a.book__spine-image,
.post-type-archive-product .products.list-layout .book__spine-details, .post-type-archive-product .products[data-layout="list-layout"] .woocommerce-loop-product__link img,
.post-type-archive-product .products[data-layout="list-layout"] .woocommerce-loop-product__title,
.post-type-archive-product .products[data-layout="list-layout"] .book__spine-image,
.post-type-archive-product .products[data-layout="list-layout"] .post-thumbnail__container,
.post-type-archive-product .products[data-layout="list-layout"] .woocommerce-placeholder,
.post-type-archive-product .products[data-layout="list-layout"] a.book__spine-image,
.post-type-archive-product .products[data-layout="list-layout"] .book__spine-details,
.tax-product_cat .products.list-layout .woocommerce-loop-product__link img,
.tax-product_cat .products.list-layout .woocommerce-loop-product__title,
.tax-product_cat .products.list-layout .book__spine-image,
.tax-product_cat .products.list-layout .post-thumbnail__container,
.tax-product_cat .products.list-layout .woocommerce-placeholder,
.tax-product_cat .products.list-layout a.book__spine-image,
.tax-product_cat .products.list-layout .book__spine-details,
.tax-product_cat .products[data-layout="list-layout"] .woocommerce-loop-product__link img,
.tax-product_cat .products[data-layout="list-layout"] .woocommerce-loop-product__title,
.tax-product_cat .products[data-layout="list-layout"] .book__spine-image,
.tax-product_cat .products[data-layout="list-layout"] .post-thumbnail__container,
.tax-product_cat .products[data-layout="list-layout"] .woocommerce-placeholder,
.tax-product_cat .products[data-layout="list-layout"] a.book__spine-image,
.tax-product_cat .products[data-layout="list-layout"] .book__spine-details {
  display: none;
}

.post-type-archive-product .products.list-layout .book__details, .post-type-archive-product .products[data-layout="list-layout"] .book__details,
.tax-product_cat .products.list-layout .book__details,
.tax-product_cat .products[data-layout="list-layout"] .book__details {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 30px;
}

.post-type-archive-product .products.list-layout .book__details > *, .post-type-archive-product .products[data-layout="list-layout"] .book__details > *,
.tax-product_cat .products.list-layout .book__details > *,
.tax-product_cat .products[data-layout="list-layout"] .book__details > * {
  font-size: 24px;
  color: black;
  margin-bottom: 0;
}

.post-type-archive-product .products.list-layout .book__details .book__title, .post-type-archive-product .products[data-layout="list-layout"] .book__details .book__title,
.tax-product_cat .products.list-layout .book__details .book__title,
.tax-product_cat .products[data-layout="list-layout"] .book__details .book__title {
  width: 51%;
  margin-right: 30px;
  font-family: 'CF Panoptik Bold', sans-serif;
}

.post-type-archive-product .products.list-layout .book__details .book__author, .post-type-archive-product .products[data-layout="list-layout"] .book__details .book__author,
.tax-product_cat .products.list-layout .book__details .book__author,
.tax-product_cat .products[data-layout="list-layout"] .book__details .book__author {
  width: 42%;
}

.post-type-archive-product .products.list-layout .book__details .book__first-edition, .post-type-archive-product .products[data-layout="list-layout"] .book__details .book__first-edition,
.tax-product_cat .products.list-layout .book__details .book__first-edition,
.tax-product_cat .products[data-layout="list-layout"] .book__details .book__first-edition {
  width: 7%;
  text-align: right;
}

.post-type-archive-product .products.spines-layout, .post-type-archive-product .products[data-layout="spines-layout"],
.tax-product_cat .products.spines-layout,
.tax-product_cat .products[data-layout="spines-layout"] {
  margin-top: 5px;
}

.post-type-archive-product .products.spines-layout li, .post-type-archive-product .products[data-layout="spines-layout"] li,
.tax-product_cat .products.spines-layout li,
.tax-product_cat .products[data-layout="spines-layout"] li {
  float: none !important;
  width: 100% !important;
  text-align: left;
  margin-right: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
}

.post-type-archive-product .products.spines-layout .woocommerce-loop-product__link img,
.post-type-archive-product .products.spines-layout .woocommerce-loop-product__title,
.post-type-archive-product .products.spines-layout .book__details,
.post-type-archive-product .products.spines-layout .post-thumbnail__container,
.post-type-archive-product .products.spines-layout .woocommerce-placeholder, .post-type-archive-product .products[data-layout="spines-layout"] .woocommerce-loop-product__link img,
.post-type-archive-product .products[data-layout="spines-layout"] .woocommerce-loop-product__title,
.post-type-archive-product .products[data-layout="spines-layout"] .book__details,
.post-type-archive-product .products[data-layout="spines-layout"] .post-thumbnail__container,
.post-type-archive-product .products[data-layout="spines-layout"] .woocommerce-placeholder,
.tax-product_cat .products.spines-layout .woocommerce-loop-product__link img,
.tax-product_cat .products.spines-layout .woocommerce-loop-product__title,
.tax-product_cat .products.spines-layout .book__details,
.tax-product_cat .products.spines-layout .post-thumbnail__container,
.tax-product_cat .products.spines-layout .woocommerce-placeholder,
.tax-product_cat .products[data-layout="spines-layout"] .woocommerce-loop-product__link img,
.tax-product_cat .products[data-layout="spines-layout"] .woocommerce-loop-product__title,
.tax-product_cat .products[data-layout="spines-layout"] .book__details,
.tax-product_cat .products[data-layout="spines-layout"] .post-thumbnail__container,
.tax-product_cat .products[data-layout="spines-layout"] .woocommerce-placeholder {
  display: none;
}

.post-type-archive-product .products.spines-layout .row, .post-type-archive-product .products[data-layout="spines-layout"] .row,
.tax-product_cat .products.spines-layout .row,
.tax-product_cat .products[data-layout="spines-layout"] .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
          align-items: flex-end;
}

.post-type-archive-product .products.spines-layout a.book__spine-image, .post-type-archive-product .products[data-layout="spines-layout"] a.book__spine-image,
.tax-product_cat .products.spines-layout a.book__spine-image,
.tax-product_cat .products[data-layout="spines-layout"] a.book__spine-image {
  display: block;
  margin-top: 25px;
}

.post-type-archive-product .products.spines-layout a.book__spine-image:first-child, .post-type-archive-product .products[data-layout="spines-layout"] a.book__spine-image:first-child,
.tax-product_cat .products.spines-layout a.book__spine-image:first-child,
.tax-product_cat .products[data-layout="spines-layout"] a.book__spine-image:first-child {
  margin-top: 0;
}

.post-type-archive-product .products.spines-layout a.book__spine-image > *, .post-type-archive-product .products[data-layout="spines-layout"] a.book__spine-image > *,
.tax-product_cat .products.spines-layout a.book__spine-image > *,
.tax-product_cat .products[data-layout="spines-layout"] a.book__spine-image > * {
  pointer-events: none;
}

.post-type-archive-product .products.spines-layout a.book__spine-image img, .post-type-archive-product .products[data-layout="spines-layout"] a.book__spine-image img,
.tax-product_cat .products.spines-layout a.book__spine-image img,
.tax-product_cat .products[data-layout="spines-layout"] a.book__spine-image img {
  margin-bottom: 0;
}

.post-type-archive-product .products.spines-layout .book__spine-details, .post-type-archive-product .products[data-layout="spines-layout"] .book__spine-details,
.tax-product_cat .products.spines-layout .book__spine-details,
.tax-product_cat .products[data-layout="spines-layout"] .book__spine-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  margin-top: 2px;
  overflow: hidden;
  background-color: white;
  -webkit-transition: height 0.2s linear;
  transition: height 0.2s linear;
  height: 0;
  padding: 0 33px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: height;
}

.post-type-archive-product .products.spines-layout .book__spine-details.open, .post-type-archive-product .products[data-layout="spines-layout"] .book__spine-details.open,
.tax-product_cat .products.spines-layout .book__spine-details.open,
.tax-product_cat .products[data-layout="spines-layout"] .book__spine-details.open {
  padding: 25px 33px 25px 33px;
  -webkit-transition: height 0.25s ease;
  transition: height 0.25s ease;
}

.post-type-archive-product .products.spines-layout .book__spine-details.transitioning, .post-type-archive-product .products[data-layout="spines-layout"] .book__spine-details.transitioning,
.tax-product_cat .products.spines-layout .book__spine-details.transitioning,
.tax-product_cat .products[data-layout="spines-layout"] .book__spine-details.transitioning {
  padding: 25px 33px 25px 33px;
}

.post-type-archive-product .products.spines-layout .book__spine-details figure, .post-type-archive-product .products[data-layout="spines-layout"] .book__spine-details figure,
.tax-product_cat .products.spines-layout .book__spine-details figure,
.tax-product_cat .products[data-layout="spines-layout"] .book__spine-details figure {
  margin-right: 11%;
  margin-bottom: 25px;
  height: 100%;
}

.post-type-archive-product .products.spines-layout .book__spine-details img, .post-type-archive-product .products[data-layout="spines-layout"] .book__spine-details img,
.tax-product_cat .products.spines-layout .book__spine-details img,
.tax-product_cat .products[data-layout="spines-layout"] .book__spine-details img {
  max-width: 262px;
  margin-bottom: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

.post-type-archive-product .products.spines-layout .book__spine-details div, .post-type-archive-product .products[data-layout="spines-layout"] .book__spine-details div,
.tax-product_cat .products.spines-layout .book__spine-details div,
.tax-product_cat .products[data-layout="spines-layout"] .book__spine-details div {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.post-type-archive-product .products.spines-layout .book__spine-details div p, .post-type-archive-product .products[data-layout="spines-layout"] .book__spine-details div p,
.tax-product_cat .products.spines-layout .book__spine-details div p,
.tax-product_cat .products[data-layout="spines-layout"] .book__spine-details div p {
  font-size: 18px;
}

.post-type-archive-product .products.spines-layout .book__spine-details div a, .post-type-archive-product .products[data-layout="spines-layout"] .book__spine-details div a,
.tax-product_cat .products.spines-layout .book__spine-details div a,
.tax-product_cat .products[data-layout="spines-layout"] .book__spine-details div a {
  font-size: 21px;
  color: black;
}

.post-type-archive-product .products.thumbs-layout, .post-type-archive-product .products[data-layout="thumbs-layout"],
.tax-product_cat .products.thumbs-layout,
.tax-product_cat .products[data-layout="thumbs-layout"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
          align-items: flex-end;
}

.post-type-archive-product .products.thumbs-layout li.product, .post-type-archive-product .products[data-layout="thumbs-layout"] li.product,
.tax-product_cat .products.thumbs-layout li.product,
.tax-product_cat .products[data-layout="thumbs-layout"] li.product {
  margin-bottom: 0;
  margin-right: 3% !important;
  width: 31.3% !important;
}

.post-type-archive-product .products.thumbs-layout li.product:last-child, .post-type-archive-product .products.thumbs-layout li.product.last, .post-type-archive-product .products[data-layout="thumbs-layout"] li.product:last-child, .post-type-archive-product .products[data-layout="thumbs-layout"] li.product.last,
.tax-product_cat .products.thumbs-layout li.product:last-child,
.tax-product_cat .products.thumbs-layout li.product.last,
.tax-product_cat .products[data-layout="thumbs-layout"] li.product:last-child,
.tax-product_cat .products[data-layout="thumbs-layout"] li.product.last {
  margin-right: 0 !important;
}

.post-type-archive-product .products.thumbs-layout .woocommerce-loop-product__link img,
.post-type-archive-product .products.thumbs-layout .woocommerce-loop-product__title,
.post-type-archive-product .products.thumbs-layout .book__details,
.post-type-archive-product .products.thumbs-layout .book__spine-image,
.post-type-archive-product .products.thumbs-layout a.book__spine-image,
.post-type-archive-product .products.thumbs-layout .book__spine-details, .post-type-archive-product .products[data-layout="thumbs-layout"] .woocommerce-loop-product__link img,
.post-type-archive-product .products[data-layout="thumbs-layout"] .woocommerce-loop-product__title,
.post-type-archive-product .products[data-layout="thumbs-layout"] .book__details,
.post-type-archive-product .products[data-layout="thumbs-layout"] .book__spine-image,
.post-type-archive-product .products[data-layout="thumbs-layout"] a.book__spine-image,
.post-type-archive-product .products[data-layout="thumbs-layout"] .book__spine-details,
.tax-product_cat .products.thumbs-layout .woocommerce-loop-product__link img,
.tax-product_cat .products.thumbs-layout .woocommerce-loop-product__title,
.tax-product_cat .products.thumbs-layout .book__details,
.tax-product_cat .products.thumbs-layout .book__spine-image,
.tax-product_cat .products.thumbs-layout a.book__spine-image,
.tax-product_cat .products.thumbs-layout .book__spine-details,
.tax-product_cat .products[data-layout="thumbs-layout"] .woocommerce-loop-product__link img,
.tax-product_cat .products[data-layout="thumbs-layout"] .woocommerce-loop-product__title,
.tax-product_cat .products[data-layout="thumbs-layout"] .book__details,
.tax-product_cat .products[data-layout="thumbs-layout"] .book__spine-image,
.tax-product_cat .products[data-layout="thumbs-layout"] a.book__spine-image,
.tax-product_cat .products[data-layout="thumbs-layout"] .book__spine-details {
  display: none;
}

.post-type-archive-product .products .product img,
.tax-product_cat .products .product img {
  margin: 0;
  margin-bottom: 1.618em;
}

.post-type-archive-product .products .product .woocommerce-placeholder,
.tax-product_cat .products .product .woocommerce-placeholder {
  height: 414px;
}

.post-type-archive-product .price, .post-type-archive-product .add_to_cart_button,
.tax-product_cat .price,
.tax-product_cat .add_to_cart_button {
  display: none !important;
}

.post-type-archive-product .storefront-sorting,
.tax-product_cat .storefront-sorting {
  margin-left: 5%;
  margin-top: 28px;
}

.post-type-archive-product .woocommerce-ordering,
.tax-product_cat .woocommerce-ordering {
  display: none;
}

.archive.category .col-full {
  max-width: 1920px;
  margin-left: 3%;
  margin-right: 4%;
}

.archive.category .featured-post .post-thumbnail {
  margin-bottom: 40px;
}

.archive.category .featured-post .post-details {
  max-width: 70vw;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.archive.category .featured-post .post-details .post-header {
  width: calc(40% - 15px);
}

.archive.category .featured-post .post-details .post-excerpt {
  width: calc(60% - 15px);
}

.archive.category .featured-post .post-details .post-header h1, .archive.category .featured-post .post-details .post-header h1 a {
  font-size: 36px;
  font-family: 'CF Panoptik Bold', sans-serif;
  margin-bottom: 0;
}

.archive.category .featured-post .post-details .post-header h2 {
  font-size: 34px;
  margin-bottom: 0;
}

.archive.category .featured-post .post-details .post-header a {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  font-size: 21px;
  margin-top: 20px;
}

.archive.category .featured-post .post-details .post-excerpt {
  font-size: 22px;
  line-height: 1.5;
}

.archive.category .horizontal-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  margin-top: 60px;
}

.archive.category .horizontal-grid article {
  width: calc(50% - 15px);
}

.archive.category .horizontal-grid article .post-details {
  margin-top: 28px;
}

.archive.category .horizontal-grid article .post-title {
  font-size: 36px;
  font-family: 'CF Panoptik Bold', sans-serif;
}

.archive.category .horizontal-grid article .post-link {
  font-size: 21px;
  line-height: 1.1;
}

.archive.category .horizontal-grid article .post-link svg {
  margin-top: 6px;
}

.archive.category .horizontal-grid article .post-excerpt {
  font-size: 22px;
  line-height: 1.4;
}

.single-post .site-content .col-full {
  max-width: 1920px;
  padding: 0;
}

.single-post .post-thumbnail {
  margin-bottom: 80px;
}

.single-post .post-details {
  max-width: 70vw;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.single-post .post-details .post-sidebar {
  width: calc(40% - 30px);
}

.single-post .post-details .post-content {
  width: calc(60% - 30px);
}

.single-post .post-details .post-header h1, .single-post .post-details .post-header h1 a {
  font-size: 36px;
  font-family: 'CF Panoptik Bold', sans-serif;
}

.single-post .post-details .post-header a {
  font-size: 21px;
}

.single-post .post-details .post-sidebar > * {
  font-size: 24px;
  line-height: 1.3;
}

.single-post .post-details .post-sidebar span {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.single-post .post-details .post-sidebar hr {
  margin: 40px 0;
}

.single-post .post-details .post-content {
  font-size: 22px;
  line-height: 1.5;
}

.single-post .post-details .post-content h1, .single-post .post-details .post-content h1 a {
  font-size: 36px;
  font-family: 'CF Panoptik Bold', sans-serif;
  margin-bottom: 0;
}

.single-post .post-details .post-content h2 {
  font-size: 36px;
}

.single-post .lined-heading {
  margin-top: 80px;
}

.single-post .horizontal-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 0 50px;
}

.single-post .horizontal-grid article {
  width: calc(33.333333333333336% - 15px);
}

.single-post .horizontal-grid article .post-thumbnail {
  margin-bottom: 20px;
}

.single-post .horizontal-grid article .post-details {
  margin-top: 28px;
}

.single-post .horizontal-grid article .post-details h2 + h3 {
  padding: 0;
}

.single-post .horizontal-grid article .post-details h3 {
  border: none;
  font-size: 34px;
}

.single-post .horizontal-grid article .post-title {
  font-size: 36px;
  font-family: 'CF Panoptik Bold', sans-serif;
  margin-bottom: 0;
}

.single-post .horizontal-grid article .post-link {
  font-size: 21px;
  line-height: 1.1;
}

.single-post .horizontal-grid article .post-link svg {
  margin-top: 6px;
}

.single-post .horizontal-grid article .post-excerpt {
  font-size: 22px;
  line-height: 1.4;
  margin-top: 28px;
}

.single-authors .site-content .col-full {
  max-width: 1920px;
  margin: 0;
  padding: 0;
}

.single-authors .author-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  max-width: 75vw;
  margin: 0 auto;
  margin-bottom: 120px;
}

.single-authors .author-photo {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.single-authors .author-photo img {
  margin: 0;
  border-radius: 50%;
}

.single-authors .author-photo,
.single-authors .author-cv {
  width: calc(50% - 30px);
}

.single-authors .author-cv .entry-title {
  font-size: 36px;
  font-family: 'CF Panoptik Bold', sans-serif;
}

.single-authors .author-cv p {
  font-size: 22px;
  line-height: 1.4;
}

.single-authors .author-interviews .main-carousel {
  max-width: 42vw;
}

.single-authors .author-interviews .row h2 {
  font-family: 'CF Panoptik Bold', sans-serif;
  font-size: 36px;
}

.single-authors .author-interviews .row p {
  font-size: 22px;
  line-height: 1.4;
}

.single-authors .author-interviews .row .arrow-link {
  font-size: 21px;
}

.post-type-archive-authors .site-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

.post-type-archive-authors .site-main .row {
  margin: 0 auto;
}

.post-type-archive-authors .site-main .entry-title {
  font-family: 'CF Panoptik Bold', sans-serif;
  font-size: 36px;
  margin-bottom: 15px;
  text-align: center;
}

.page.page-id-34 .site-content .col-full {
  max-width: 65vw;
}

.page.page-id-34 .about__layout {
  max-width: 70vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  margin-bottom: 90px;
}

.page.page-id-34 .about__layout .left {
  width: calc(40% - 15px);
}

.page.page-id-34 .about__layout .right {
  width: calc(70% - 15px);
}

.page.page-id-34 .about__layout h2 {
  font-family: 'CF Panoptik Bold', sans-serif;
  font-size: 36px;
  z-index: 1;
}

.page.page-id-34 .about__layout .entry-content {
  font-size: 22px;
  line-height: 1.5;
  z-index: 1;
}

.page.page-id-34 .about__tagline .custom-image__inner {
  top: -214px;
}

.page.page-id-34 .about__tagline .entry-content {
  width: 31%;
  font-family: 'CF Panoptik Bold', sans-serif;
  font-size: 38px;
  line-height: 1.2;
}

.page.page-id-34 .about__team .entry-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.page.page-id-34 .about__team .entry-content .col {
  width: calc(50% - 15px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.page.page-id-34 .about__team .entry-content h3, .page.page-id-34 .about__team .entry-content p {
  font-size: 22px;
}

.page.page-id-34 .about__team .entry-content h3 {
  font-family: 'CF Panoptik Bold', sans-serif;
  margin-bottom: 30px;
}

.page-id-37 .site-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  width: 100vw;
}

.page-id-37 .site-content .col-full {
  max-width: 100%;
  padding: 0;
}

.page-id-37 .contact__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
}

.page-id-37 .contact__top .row {
  margin: 0 auto;
}

.page-id-37 .contact__top h1 {
  font-family: 'CF Panoptik Bold', sans-serif;
  font-size: 36px;
}

.page-id-37 .contact__top .entry-content {
  font-family: 'CF Panoptik Bold', sans-serif;
  font-size: 22px;
}

.page-id-37 .contact__map {
  width: 100vw;
}

.page-id-37 .contact__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  max-width: 60vw;
  margin: 0 auto;
  margin-top: 70px;
}

.page-id-37 .contact__form h2 {
  font-family: 'CF Panoptik Bold', sans-serif;
  font-size: 36px;
}

.page-id-37 .contact__form article {
  max-width: 210px;
  font-size: 22px;
  line-height: 1.5;
}

.wpcf7 {
  max-width: 570px;
}

.home {
  background-color: black;
  color: white;
}

.woocommerce-pagination .page-numbers li .page-numbers {
  background-color: transparent;
  padding: 5px 6px;
}

.woocommerce-pagination .page-numbers li .page-numbers.current {
  background-color: transparent;
}

.woocommerce-pagination .next,
.woocommerce-pagination .prev {
  text-indent: 0;
}

.woocommerce-pagination .next:after,
.woocommerce-pagination .prev:after {
  content: '';
}

.pagination .page-numbers li a.page-numbers:hover,
.woocommerce-pagination .page-numbers li a.page-numbers:hover {
  background-color: transparent;
  color: black;
}

@media screen and (min-width: 769px) {
  .site-footer {
    background-color: transparent;
  }
  .site-footer .col-full {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    max-width: 100%;
    margin-left: 4.8%;
    margin-right: 4%;
  }
  .site-footer .col-full .footer-data {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    width: 100%;
  }
  .site-footer .col-full .info {
    margin-left: 30px;
  }
  .site-footer .col-full .info p {
    display: inline;
    font-family: 'CF Panoptik Bold', sans-serif;
    margin-bottom: 0;
    color: black;
  }
  .site-footer .col-full .social-media-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
  .site-footer .col-full .social-media-links a {
    font-size: 19px;
    text-decoration: none;
    margin-left: 20px;
  }
}

.col-centered {
  margin: 0 auto;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  margin-right: 1.7rem;
}

.col-centered p {
  font-size: 22px;
}

.col-centered a {
  font-size: 22px;
  color: black;
}

.col-centered figure {
  width: calc(38.8% - 28px);
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
}

.col-centered figure img {
  border-radius: 50%;
}

.col-centered div {
  width: 50%;
  max-width: 670px;
  margin-left: 28px;
}

.book-reviews .lined-heading {
  margin-bottom: 40px;
}

.book-reviews .row {
  margin-bottom: 40px;
}

.book-reviews blockquote {
  padding: 0;
  margin: 0;
  margin-bottom: 0.25em;
  border-left: none;
  font-style: normal;
  font-family: 'CF Panoptik Bold', sans-serif;
  font-size: 38px;
  line-height: 1.2;
  padding: 0 4rem;
}

.book-reviews blockquote em {
  font-family: 'CF Panoptik Bold Oblique', sans-serif;
}

.book-reviews .book-review__source {
  font-size: 26px;
  margin-bottom: 0;
  padding: 0 4rem;
}

.book-reviews .main-carousel {
  max-width: 75vw;
  margin: 0 auto;
}

.related-books .lined-heading {
  margin-top: 32px;
}

.related-books__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  background-color: black;
  color: white;
}

.related-books__featured {
  position: relative;
  width: calc(45vw + 50px);
  margin: 50px;
}

.related-books__featured h2, .related-books__featured a, .related-books__featured p, .related-books__featured span {
  color: white;
}

.related-books__featured h2 {
  font-family: 'CF Panoptik Bold', sans-serif;
  font-size: 30px;
  margin: 0;
  margin-bottom: 10px;
}

.related-books__featured .book__author {
  padding: 0;
  border: none;
  font-family: 'CF Panoptik Bold', sans-serif;
  font-size: 30px;
  line-height: 1.3;
  margin-bottom: 28px;
}

.related-books__featured .book__excerpt {
  font-size: 20px;
  line-height: 1.4;
}

.related-books__featured .book__excerpt__text {
  margin-bottom: 49px;
}

.related-books__featured .close-btn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'CF Panoptik Bold', sans-serif;
  font-size: 22px;
}

.related-books__spines {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: calc(45vw + 50px);
  margin: 50px;
  max-height: 80vh;
}

.related-books__spines .related-book__trigger {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-right: 20px;
  height: 80vh;
}

.related-books__spines .related-book__trigger__btn .book_spine_image {
  height: 100%;
  pointer-events: none;
}

.related-books__spines .related-book__details {
  display: none;
  width: 37vw;
}

.related-books__spines .related-book__details h2, .related-books__spines .related-book__details a, .related-books__spines .related-book__details p, .related-books__spines .related-book__details span {
  color: white;
}

.related-book h2, .related-book a, .related-book p {
  color: white !important;
}

.related-posts .lined-heading {
  margin-top: 32px;
}

.related-posts .horizontal-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 0 50px;
}

.related-posts .horizontal-grid article {
  width: calc(33.333333333333336% - 15px);
}

.related-posts .horizontal-grid article .post-details {
  margin-top: 28px;
}

.related-posts .horizontal-grid article .post-title {
  font-size: 36px;
  font-family: 'CF Panoptik Bold', sans-serif;
}

.related-posts .horizontal-grid article .post-link {
  font-size: 21px;
  line-height: 1.1;
}

.related-posts .horizontal-grid article .post-link svg {
  margin-top: 6px;
}

.related-posts .horizontal-grid article .post-excerpt {
  font-size: 22px;
  line-height: 1.4;
}

/*! Flickity v2.1.2
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  border: none;
  background-color: transparent;
  color: black;
  padding: 0;
}

.flickity-button:hover {
  background-color: transparent;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: black;
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 30px;
  height: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: -66px;
}

.flickity-prev-next-button.next {
  right: -66px;
}

.flickity-page-dots .dot:first-child:nth-last-child(1) {
  opacity: 0;
}

.is-hiding-nav-ui .flickity-prev-next-button {
  opacity: 0 !important;
}

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

.carousel-cell {
  width: 100%;
}

.event-carousel .carousel-cell {
  width: 100%;
  height: 477px;
  margin: 0;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

.event-carousel .carousel-cell img {
  max-height: 477px;
}

.carousel-nav .carousel-cell {
  width: 19%;
  height: 130px;
  margin: 0;
  margin-right: 20px;
}

.carousel-nav .carousel-cell img {
  max-height: 91px;
}

@media (max-width: 686px) {
  .event-photos .event-carousel, .event-photos .carousel-cell {
    height: 288px;
  }
  .event-photos .event-carousel img, .event-photos .carousel-cell img {
    max-height: 288px;
  }
  .event-photos .carousel-nav .carousel-cell {
    height: 91px;
  }
}

@media (max-width: 686px) {
  .event-photos .event-carousel, .event-photos .carousel-cell {
    height: 288px;
  }
  .event-photos .event-carousel img, .event-photos .carousel-cell img {
    max-height: 288px;
  }
  .event-photos .carousel-nav .carousel-cell {
    height: 91px;
  }
}

@media (max-width: 460px) {
  .event-photos .event-carousel, .event-photos .carousel-cell {
    height: 200px;
  }
  .event-photos .event-carousel img, .event-photos .carousel-cell img {
    max-height: 200px;
  }
  .event-photos .carousel-nav .carousel-cell {
    height: 91px;
  }
}

/* flickity-fade */
/* Fade CSS */
.carousel-cell {
  width: 100%;
}

.flickity-slider {
  -webkit-transform: none !important;
          transform: none !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.carousel-cell {
  left: 0 !important;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.carousel-cell.is-selected {
  opacity: 1;
  z-index: 0;
}
