.book-reviews {
    .lined-heading {
        margin-bottom: 40px;
    }
    .row {
        // display: flex;
        // flex-direction: column;
        // max-width: 60vw;
        margin-bottom: 40px;
    }
    blockquote {
        padding: 0;
        margin: 0;
        margin-bottom: 0.25em;
        border-left: none;
        font-style: normal;
        @include sans_bold;
        font-size: 38px;
        line-height: 1.2;
    }
    .book-review__source {
        font-size: 26px;
        margin-bottom: 0;
    }
    .main-carousel {
        max-width: 60vw;
        margin: 0 auto;
    }
}

