.related-books {
    .lined-heading {
        margin-top: 32px;
    }
    &__container {
        display: flex;
        background-color: black;
        color: white;
    }
    &__featured {
        position: relative;
        width: calc(45vw + 50px);
        margin: 50px;
        h2, a, p, span {
            color: white!important;
        }
        h2 {
            @include sans_bold;
            font-size: 30px;
            margin: 0;
            margin-bottom: 10px;
        }
        .book {
            &__author {
                padding: 0;
                border: none;
                @include sans_bold;
                font-size: 30px;
                line-height: 1.3;
                margin-bottom: 28px;
            }
            &__excerpt {
                font-size: 20px;
                line-height: 1.4;
            }
        } 
        .close-btn {
            position: absolute;
            right: 0;
            top: 0;
            background-color: transparent;
            padding: 0;
            margin: 0;
            color: white;
            @include sans_bold;
            font-size: 22px;
        } 
    }
    &__spines {
        display: flex;
        width: calc(45vw + 50px);
        margin: 50px;
        max-height: 80vh;
        .related-book__trigger {
            display: flex;
            margin-right: 20px;
            height: 80vh;
        }
        .related-book__trigger__btn {
            .book_spine_image {
                height: 100%;
                pointer-events: none;
                transform: translateY(0);
                transition: transform 0.2s ease;
            }
            &.selected {
                .book_spine_image {
                    transform: translateY(14px);
                    transition: transform 0.2s ease;
                }
            }
        }
        .related-book__details {
            display: none;
            width: 37vw;
            h2, a, p, span {
                color: white!important;
            }
        } 
    }
}

.related-book {
    h2, a, p {
        color: white!important;
    }
}