.col-centered {
    margin: 0 auto;
    margin-bottom: 60px;
    display: flex;
    flex: 1;
    margin-right: 1.7rem;
    p {
        font-size: 22px;
    }
    a {
        font-size: 22px;
        color: black;
    }
    figure {
        width: calc(38.8% - 28px); 
        display: flex;
        justify-content: flex-end;
        img {
            border-radius: 50%;
        }
    }
    div {
        width: 50%;
        max-width: 670px;
        margin-left: 28px;
    }
}