.related-posts {
    .lined-heading {
        margin-top: 32px;
    }
    .horizontal-grid {
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
        article {
            width: calc(33.333333333333336% - 15px);
            .post-details {
                margin-top: 28px;
            }
            .post-title {
                font-size: 36px;
                @include sans_bold;
            }
            .post-link {
                font-size: 21px;
            }
            .post-excerpt {
                font-size: 22px;
                line-height: 1.4;
            }
        }
    }
}
