/*! Flickity v2.1.2
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  border: none;
  background-color: transparent;
  color: black;
  padding: 0;
}

.flickity-button:hover {
  background-color: transparent;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  // box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: black;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 35%;
  width: 30px;
  height: 30px;
  transform: translateY(-35%);
}

.flickity-prev-next-button.previous { left: -66px; }
.flickity-prev-next-button.next { right: -66px; }


// @media (max-width: 1300px) {
//   .flickity-prev-next-button {  
//     top: 100%;
//     width: 50%;
//     display: flex;
//     align-items: center;
//     .flickity-button-icon {
//       position: absolute;
//       width: 30px;
//       height: 30px;
//       top: auto;
//       left: auto;
//       right: auto;
//     }    
//   }
//   .flickity-prev-next-button.previous {
//     left: 0;
//     .flickity-button-icon {
//       right: 0;
//     }
//   }
//   .flickity-prev-next-button.next { 
//     right: 0;
//     .flickity-button-icon {
//       left: 0;
//     } 
//   }

//   .event-photos {
//     .flickity-prev-next-button {
//       display: none;
//     }
//   }
// }  

.flickity-page-dots {
  .dot:first-child:nth-last-child(1) {  
    opacity: 0;
  }
}

.is-hiding-nav-ui {
  .flickity-prev-next-button {
    opacity: 0;
  }
}
/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}  

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

.carousel-cell {
  width: 100%;
  // height: 250px;
  // margin-left: 15px;
  // margin-right: 15px;
  // text-align: center;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  img {
    // max-height: 200px;
    // height: auto;
  }
}

.event-carousel {
  .carousel-cell {
    width: 100%;
    height: 477px;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    img {
      max-height: 477px;
    }
  }
}

.carousel-nav {
  .carousel-cell {
    width: 19%;
    height: 130px;
    margin: 0;
    margin-right: 20px;
    img {
      max-height: 91px;
    }
  }
}

@media (max-width: 851px) {
  // .event-photos {
  //   .carousel-cell {
  //     height: 385px;
  //     img {
  //        max-height: 282px;
  //     }
  //   }
  //   .carousel-nav {
  //     .carousel-cell {
  //       height: 91px;
  //     }
  //   } 
  // }
}

@media (max-width: 686px) {
  .event-photos {
    .event-carousel, .carousel-cell {
      height: 288px;
      img {
        max-height: 288px;
      }
    }

    .carousel-nav {
      .carousel-cell {
         height: 91px;
      }
    }
  }
}

@media (max-width: 686px) {
  .event-photos {
    .event-carousel, .carousel-cell {
      height: 288px;
      img {
        max-height: 288px;
      }
    }

    .carousel-nav {
      .carousel-cell {
         height: 91px;
      }
    }
  }
}

@media (max-width: 460px) {
  .event-photos {  
    .event-carousel, .carousel-cell {
      height: 200px;
      img {
        max-height: 200px;
      }
    }

    .carousel-nav {
      .carousel-cell {
         height: 91px;
      }
    }
  }
}