.woocommerce-pagination {
    .page-numbers {
        li {
            .page-numbers {
                background-color: transparent;
                padding: 5px 6px;
                &.current {
                    background-color: transparent;
                }
            }
        }
    }
    .next, 
    .prev {
        text-indent: 0;
        &:after {
            content: '';
        }
    }
}

.pagination .page-numbers li a.page-numbers:hover, 
.woocommerce-pagination .page-numbers li a.page-numbers:hover {
    background-color: transparent;
    color: black;
}
